[2022-04-27 05:24] reyang opened #3 "Do we need Discussions?"
We have it in the spec repo and many other languages SIGs.

e.g. https://github.com/open-telemetry/opentelemetry-specification/discussions

[2022-04-27 17:29] cartersocha commented on #3
I think it would be valuable.

[2022-04-27 17:43] cartersocha commented on #3
@mtwo I don't have the ability to enable discussions. Do you or @tigrannajaryan have access?

[2022-04-27 18:04] tigrannajaryan commented on #3
Enabled. You should be able to edit the first discussion: https://github.com/open-telemetry/opentelemetry-demo-webstore/discussions/9

[2022-04-27 18:08] #3 closed

[2022-05-12 05:54] julianocosta89 opened #14 "Copy opentelemetry-microservices-demo to opentelemetry-demo-webstore"
This has been discussed during the [OpenTelemetry Demo Application SIG Meeting](https://docs.google.com/document/d/16f-JOjKzLgWxULRxY8TmpM_FjlI1sthvKurnqFz9x98/edit#heading=h.b9liq2yzxczd).

Here are the steps that we will be following:

- [x] Create branch `online-boutique`
- [x] Copy the code as-is from [opentelemetry-microservices-demo](https://github.com/julianocosta89/opentelemetry-microservi

[2022-05-12 06:22] reyang commented on #14
Thanks @julianocosta89!

Here are the additional items we need to consider:

1. Confirm with the original author(s) regarding licensing / copyright.
2. Check if there are licensing / copyright issues related to dependencies / submodules / etc.
3. Decide how much history / changelog are we going to keep.
4. Do we need to preserve the commit history from the original source? (I _guess_ the answer is

[2022-05-12 06:29] cartersocha commented on #14
@mtwo, @jsuereth, can you provide guidance on the licensing / copyright changes we should be making. I think our preference is for the copyright owners to be OpenTelemetry itself right, @reyang?

[2022-05-12 06:30] mtwo commented on #14
I think so (?), though I'm not an expert at this. @lizthegrey and possibly @tedsuo know way more about this than I do.

[2022-05-12 06:46] reyang commented on #14
OpenTelemetry community would prefer the copyright to be "OpenTelemetry Authors" - https://github.com/open-telemetry/community/blob/4b53b7ffb6390e57850e9a916bd63253349a7770/CONTRIBUTING.md#copyright-notices. But this has to be blessed by the previous author(s) (I think they have the ultimate saying, unless it's documented in a different way).

Here goes an example - I worked with .NET Foundation a

[2022-05-12 06:50] lizthegrey commented on #14
What @reyang said.

[2022-05-12 07:08] reyang commented on #14
Here goes a summary of existing copyright info (by scanning through the temporary `online-boutique` branch):

**Copyright `<year>` the original author or authors.**
https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/b9b5998270877d92e56e69883028c278d0d2d85f/src/adservice/gradlew.bat#L2

**Copyright © `<year>` the original authors.**
https://github.com/open-telemetry/opentelemetry-de

[2022-05-12 07:10] lizthegrey commented on #14
In this case, since it's forking a long-established project, I think we credit OpenTelemetry Authors for any significant modifications, but we leave the existing copyrights alone.

[2022-05-12 07:17] reyang commented on #14
Based on my [investigation](https://github.com/open-telemetry/opentelemetry-demo-webstore/issues/14#issuecomment-1124612696), it seems everything in the current `online-boutique` branch should be compatible with `Apache License, Version 2.0` (disclaimer: I'm not an attorney).

The copyright information shouldn't be a blocker if we follow what @lizthegrey [suggested](https://github.com/open-telemet

[2022-05-12 17:35] cartersocha commented on #14
Great thanks for the help. @julianocosta89 we should be okay from a licensing perspective. We'll follow Liz's guidance

[2022-05-18 00:18] cartersocha commented on #14
@julianocosta89 I think steps 3 & 4 are now done. Please review then complete the merge if possible

[2022-05-19 06:25] mic-max opened #24 "Migrate build to use `docker compose`"
The `docker compose build` will build all services on all platforms

- [ ] Create a `docker-compose.yml` at the root of the repository
- [ ] Adapt all services `Dockerfile` files
  - [ ] Remove duplication of `demo.proto` file
  - [ ] Compile protobuf source files during build
- [ ] Testing

References
- https://docs.docker.com/compose/

[2022-05-19 20:41] cartersocha commented on #14
Just merged the pr into main & deleted the branch. Closing this issue.

[2022-05-19 20:41] #14 closed

[2022-05-20 20:50] reyang opened #27 "Consider a Mermaid diagram?"
Currently the "architecture diagram" is a PNG file https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/b28cb38af2f1f1273f92a321d713e0f7706536b6/docs/img/architecture-diagram.png.

I imagine we'll keep improving the architecture, and PNG is hard for change management / comment. I propose that we use mermaid. In OpenTelemetry .NET and C++ I've seen good results https://github.com/open

[2022-05-20 21:04] tsloughter opened #28 "Feature Flag Service"
This issue is to track the addition of the feature flag service to the demo.

PR #26 has been opened with a proposed GRPC API for the service.

[2022-05-20 21:31] cartersocha commented on #27
Great suggestion! It took me a second to figure out how they work but perfect for our use case. Let's try & keep the colors by language if possible or just consider what we can do to improve readability from the grey / black default. Not sure how much configuration is possible

[2022-05-21 01:15] reyang commented on #27
Just trying to give folks some initial feel/taste - I'll add color in the next few days:

[code]

[2022-05-21 05:11] cartersocha opened #30 "Update mermaid graph to show protocol used between services"
grpc & http communication should be labeled between the different services as an enhancement to the initial graph like http is used at the top.

https://github.com/open-telemetry/opentelemetry-demo-webstore/issues/27

[2022-05-21 05:12] #27 closed

[2022-05-21 05:14] reyang opened #31 "Improve the images"
Currently the screenshots look bad under dark theme

![image](https://user-images.githubusercontent.com/17327289/169636611-f00a5fbd-775e-41a8-aa8d-d41e2e45f661.png)

[2022-05-23 20:04] austinlparker opened #34 "Create an 'admin service' in PHP"
**Objective**

Create an 'admin service' written in PHP for the web store.

The following features should be supported:

- Authentication for 'admin users'
- UI for CRUD operations on items in the product catalog.
- API for CRUD operations on items in the product catalog.

[2022-05-23 20:06] austinlparker opened #35 "Reimplement 'shippingservice' in Rust"
**Objective**

Re-implement the 'shippingservice' in Rust.

This should be a drop-in replacement.

[2022-05-23 20:07] austinlparker opened #36 "Reimplement 'currencyservice' in C++"
**Objective**

Re-write the 'currencyservice' in C++.

This should be a drop-in replacement.

[2022-05-23 20:08] austinlparker opened #37 "Reimplement 'emailservice' in Ruby"
**Objective**

Re-write the emailservice to Ruby.

This should be a drop-in replacement.

[2022-05-23 20:11] austinlparker opened #38 "Create a storage abstraction/persistence layer for products."
**Objective**

To demonstrate OTel integration w/storage layers, we need some stateful storage in the application. To this end, we should create some kind of abstraction to store and get products for the product catalog.

This service will be written to by the 'adminservice' and read by the 'productcatalog'.

The two basic storage types we should support are DB and blob-based storage.

[2022-05-23 20:14] austinlparker opened #39 "Restyle and update product catalog, frontend, etc."
**Objective**

Bring out a bit of the project's personality by rebranding from 'Online Boutique' to something else. Maybe 'Astronomy Shop'? :)

- Update frontend logo
- Update product key art/product names
- Rebrand colors/fonts to align with opentelemetry.io styles

[2022-05-23 20:22] austinlparker opened #40 "Create a feature flag service"
**Objective**

To allow for dynamic modification of service behavior through feature flags, and to demonstrate OpenTelemetry in another language, create a feature flag service in Erlang+Elixir/Phoenix.

- UI/API to perform CRUD operations on flags.
- UI to display flag state.
- API to query flag state.
- Flags should be persistent through restarts (stateful storage).

Other services in the applica

[2022-05-23 20:27] austinlparker opened #41 "Support deployment to Kubernetes"
**Objective**

Highlight the integration between OpenTelemetry and the greater cloud-native ecosystem by supporting Kubernetes.

The following are a non-exhaustive list of requirements for this --

- Minikube/local k8s as the minimum requirement for installation
- Self-deployment of services via ArgoCD
- OpenTelemetry deployment via OpenTelemetry Operator
- Kubernetes API Server Tracing enabled
-

[2022-05-23 20:33] austinlparker opened #42 "Ensure sufficient breadth in trace features across services"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements.

- [ ] Automatic Instrumentation is being used where appropriate.
- [ ] Automatic instrumentation is being injected through the OpenTelemetry Operator.
- [ ] Library instrumentation is being used

[2022-05-23 20:36] austinlparker opened #43 "Ensure sufficient breadth of metric features represented."
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-23 20:40] austinlparker opened #44 "Ensure sufficient breadth of log features represented."
As OpenTelemetry Logging has not fully stabilized, this list of requirements may change in future releases.

- [ ] Log events in existing services should be converted to span events where appropriate (i.e., the event occurs within a transaction)
- [ ] Logs should be emitted with OpenTelemetry resources and context for correlation where possible.
- [ ] Logs should be scraped by OpenTelemetry Collec

[2022-05-24 12:14] tsloughter commented on #40
OpenFeature looks pretty early and focusing on hooks and evaluation at this point. I'd be fine modeling the feature flag data model off of them but I don't see a clear spec for that. I don't think we should, at least at this point, do any more than the most basic of, "is this flag true or false".

Happy to base the data structure on openfeature so it could in the future, if deemed useful, do more

[2022-05-25 14:15] beeme1mr commented on #40
Hey @austinlparker and @tsloughter, I'm working on OpenFeature and would love to help out where we can. Our project is still in an early stage but I think it would make sense to align where possible.

I would recommend you continue building out everything you described above but consider using the OpenFeature SDK and a custom provider that interacts with your service. That would fit nicely into ou

[2022-05-25 14:16] austinlparker commented on #40
Is there an OpenFeature SDK for Erlang?

[2022-05-25 14:20] austinlparker commented on #40
Yeah, this is mostly what I was thinking at this point. Targeting and other more advanced stuff seems pretty out-of-scope (or, at least, is something that can be handled manually). I was mostly hoping to align to OF semconv attributes for reporting flag state. That said, if there are relatively usable SDKs in that we can piggyback off for reading flag state from the ff service then that'd be nice.

[2022-05-25 14:21] austinlparker commented on #39
See also #31 -- ensure that product images work well in dark mode/dark bg.

[2022-05-25 14:23] austinlparker commented on #28
Do you want to track this in #40 instead?

[2022-05-25 14:24] beeme1mr commented on #40
No, not yet. In fact, we don't have any SDKs ready for use but Java and Node is nearing an alpha state.

[2022-05-25 14:31] beeme1mr commented on #40
Using the semantic conventions would be a great start. If timing is an issue, you should probably build your own simple solution and we can circle back later. I would be interested in adding more advance feature flagging use cases to this demo app because it would be a great way to show the value of feature flagging on a distributed trace.

[2022-05-25 16:17] tsloughter commented on #40
That would be neat.

I'll keep going ahead with what we have now. I'll try to check on OpenFeature from time to time, but would be great if you could let us know here when there is more development that we could start incorporating.

[2022-05-25 18:24] tsloughter commented on #28
Yup. Closing this.

[2022-05-25 18:24] #28 closed

[2022-05-27 05:38] cartersocha commented on #36
@lalitb should this be assigned to you?

[2022-05-27 05:40] cartersocha commented on #34
Linking to the issue in the php repo: https://github.com/open-telemetry/opentelemetry-php/issues/658

@bobstrecansky should I assign the current issue owner to this as well?

[2022-05-27 05:40] cartersocha commented on #37
@ahayworth fyi

[2022-05-27 05:42] cartersocha commented on #39
The physical page quality looks okay to me in dark mode. Is it just the picture quality itself or the product pictures in the web store?

[2022-05-27 05:47] cartersocha commented on #42
depending on timeline for new services this might be a rolling issue as new components are added. Should we plan on splitting these into stages?

[2022-05-27 05:51] cartersocha commented on #31
What are you specific issues with the current pics? I think they look fairly similar in light mode although small & pixellated

[2022-05-27 08:32] bobstrecansky commented on #34
Sounds good!

[2022-05-27 19:59] cartersocha commented on #24
Hey @mic-max, what's the status of this? Do you have any key blockers?

[2022-05-29 10:44] julianocosta89 commented on #24
Hello @mic-max, I've tried to reach out to you via Slack, but I guess here it is better, because we can have it documented.

I'm taken a look at the PR #33 and I saw that there was a lot of changes regarding env vars, dockerfiles and proto files.

Don't you think it would be better to split them up into small PRs?

I've tried to set it up locally with docker compose and I couldn't make it work.
I

[2022-05-29 16:01] cartersocha commented on #24
+1 to smaller, targeted PRs. @cijothomas 😉

[2022-05-30 00:58] cartersocha opened #49 "Review and enhance tracing support for frontend (Go)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [x] Automatic Instrumentation is being used where appropriate. - not appropriate
- [x] Library instrumentation is being used if automatic inst

[2022-05-30 01:01] cartersocha opened #50 "Review and enhance tracing support for product catalog service (Go)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [ ] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:01] cartersocha opened #51 "Review and enhance tracing support for cart service (C#)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [ ] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:03] cartersocha opened #52 "Review and enhance tracing support for currency service (C++)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [x] Automatic Instrumentation is being used where appropriate.
- [x] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:05] cartersocha opened #53 "Review and enhance tracing support for payment service (node.js)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [x] Automatic Instrumentation is being used where appropriate.
- [x] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:06] cartersocha opened #54 "Review and enhance tracing support for shipping service (Rust)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [ ] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:08] cartersocha opened #55 "Review and enhance tracing support for email service (Ruby)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [x] Automatic Instrumentation is being used where appropriate.
- [x] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:09] cartersocha opened #56 "Review and enhance tracing support for checkout service (Go)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [ ] Automatic Instrumentation is being used where appropriate.
- [x] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:11] cartersocha opened #57 "Review and enhance tracing support for admin service (PHP)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [ ] Automatic Instrumentation is being used where appropriate.
- [x] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:12] cartersocha opened #58 "Review and enhance tracing support for feature flag service (erlang)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [ ] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:13] cartersocha opened #59 "Review and enhance tracing support for recommendation service (Python)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [ ] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 01:14] cartersocha opened #60 "Review and enhance tracing support for ad service service (Java)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [x] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-05-30 17:12] cartersocha opened #62 "Review and enhance logging support for cart service (C#)"
As OpenTelemetry Logging has not fully stabilized, this list of requirements may change in future releases.

- [ ] Log events in existing services should be converted to span events where appropriate (i.e., the event occurs within a transaction)
- [ ] Logs should be emitted with OpenTelemetry resources and context for correlation where possible.
- [ ] Logs should be scraped by OpenTelemetry Collec

[2022-05-30 17:14] cartersocha opened #63 "Review and enhance logging support for recommendation service (Python)"
As OpenTelemetry Logging has not fully stabilized, this list of requirements may change in future releases.

- [ ] Log events in existing services should be converted to span events where appropriate (i.e., the event occurs within a transaction)
- [ ] Logs should be emitted with OpenTelemetry resources and context for correlation where possible.
- [ ] Logs should be scraped by OpenTelemetry Collec

[2022-05-30 17:15] cartersocha opened #64 "Review and enhance logging support for email service (Python / Ruby)"
As OpenTelemetry Logging has not fully stabilized, this list of requirements may change in future releases.

- [ ] Log events in existing services should be converted to span events where appropriate (i.e., the event occurs within a transaction)
- [ ] Logs should be emitted with OpenTelemetry resources and context for correlation where possible.
- [ ] Logs should be scraped by OpenTelemetry Collec

[2022-05-30 17:15] cartersocha opened #65 "Review and enhance logging support for ad service service (Java)"
As OpenTelemetry Logging has not fully stabilized, this list of requirements may change in future releases.

- [ ] Log events in existing services should be converted to span events where appropriate (i.e., the event occurs within a transaction)
- [ ] Logs should be emitted with OpenTelemetry resources and context for correlation where possible.
- [ ] Logs should be scraped by OpenTelemetry Collec

[2022-05-30 17:26] cartersocha opened #66 "Review and enhance metric support for product catalog service (Go)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-30 17:26] cartersocha opened #67 "Review and enhance metric support for currency service (C++ / node.js)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-30 17:27] cartersocha opened #68 "Review and enhance metric support for payment service (node.js)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-30 17:27] cartersocha opened #69 "Review and enhance metric support for check out service (Go)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-30 17:27] cartersocha opened #70 "Review and enhance metric support for frontend (Go)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-30 17:28] cartersocha opened #71 "Review and enhance metric support for cart service (C#)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-30 17:28] cartersocha opened #72 "Review and enhance metric support for recommendation service (Python)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-30 17:28] cartersocha opened #73 "Review and enhance metric support for ad service service (Java)"
The following are requirements for metrics in the project. Not all services will meet all requirements.

- [ ] Service metrics should not be duplicative of trace-derived metrics.
- [ ] Services should emit multiple business metrics where appropriate.
- [ ] Services should emit trace exemplars for their metrics.
- [ ] Services should use push metrics where possible.
- [ ] Services should explicitly

[2022-05-31 05:29] #24 closed

[2022-06-01 01:09] mic-max opened #77 "Fix `gradlew` commands on Windows"
The `adservice` fails to build at the `RUN ./gradlew downloadRepos` step

You must run
- `./gradlew installDist` from `/src/adservice/`
- `./gradlew wrapper --gradle-version 7.4.2`

Maybe only one of the above commands is necessary...

Then the following command should work:
`docker compose build cartservice`

Proposed Fix:

Make the `docker compose up` the only required command to run the whole p

[2022-06-01 04:44] cartersocha opened #78 "Setup CI workflow to Docker Hub"
The most recent build of the community demo should be available for download on Docker Hub & have automated deployment from the repo.

The community demo should be posted by the community "[otel](https://hub.docker.com/u/otel)" user on the docker hub.

- [x] Define image_name image_tag format
- [x]  Setup CI workflow to build the image
- [x]  Setup CI workflow to push image to GitHub package (via

[2022-06-01 14:20] cijothomas commented on #62
I can help with this item.
To begin with, I can replace the Console.Write with `ILogger` calls.,
Then wire up OpenTelemetry with OTLP Exporter.
Then add resources.

Not sure about using SpanEvent vs using dedicated Logging API. Do we have a preference on one vs other?

[2022-06-01 19:23] ahayworth commented on #37
@cartersocha Sorry - this was buried in my notifications. I think we can keep it here, I'll just put it on the agenda for the SIG next week.

[2022-06-02 02:44] cartersocha opened #83 "Add cache_from command to docker compose"
The local build time from docker compose is slow. To improve the build time we can use cache_from in the docker compose file.

This item is dependent on: https://github.com/open-telemetry/opentelemetry-demo-webstore/issues/78

[2022-06-02 02:54] wajika opened #84 "add middleware and database in demo"
I want to see how the span header issues traceid through kafka redis.

[2022-06-02 03:32] wph95 opened #85 "README.md has an invalid link [/docs/development-principles.md]"
README.md

our repo no /docs/development-principles.md

https://github.com/GoogleCloudPlatform/microservices-demo/blob/main/docs/development-principles.md

[2022-06-02 05:24] cartersocha commented on #85
ty for raising the issue

https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/86

[2022-06-02 05:28] cartersocha commented on #84
We have plans to add database components for the PHP admin service, the product catalog, & feature flag service. There's also a redis cache already present.
https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/main/docs/v1Graph.md

Is this an ask to have a queue between the database & the services?

[2022-06-02 06:14] wph95 commented on #78
I am interested in helping to complete this issue.
I've done some research
https://github.com/open-telemetry/community/issues/573
Probably using the GitHub package is a better option for now, I see other sigs are using the GitHub package.
https://github.com/orgs/open-telemetry/packages

[2022-06-02 06:30] cartersocha commented on #78
We’d love the help!

We still need to finalize whether we’re using the OTel community account or a separate account to prevent image spam. But outside of exact account credentials this item is ready to be worked in

@tigrannajaryan, do you have a preference on where we post the images? @julianocosta89 & I are concerned adding 10 images to the community account might be a bit spammy

[2022-06-02 06:40] wph95 commented on #78
Yeah, I'm worried about that too

Some possible ways to solve the problem

1. used different docker tag

[code]

2. All-in-one docker image(like jaeger). used a script/CLI/makefile to run the microservices

[code]

[2022-06-02 07:33] DebajitDas commented on #34
As discussed in the #otel-community-demo slack channel, we can also use Apache WebServer to host 'Admin Service' in PHP through mod_php. Apache instrumentation is already available to generate spans and traces.

[2022-06-02 08:15] JaredTan95 opened #87 "Is there any plan to add demonstration of the Java technology stack?"
# Question
Hi,
I've given a rough preview of the technology stack used in the `webstore` demo, and I noticed the grpc framework is involved.
But, from my point of view, the content of the Java technology stack involves less, especially the more popular springboot/springcloud.

Do we have a plan on this?

BTW, I can participate in this part of the enhancement. :-P

Use [Github Discussions](https://

[2022-06-02 09:49] tidal commented on #34
@DebajitDas
Thank you.
However we most likely would prefer not to use Apache, as that's a bit outdated, or in fact any web-sever (Nginx,, Caddy, etc.) as a runtime, but a modern faster runtime as Swoole or Roadrunner.

[2022-06-02 15:03] tigrannajaryan commented on #78
I agree if it is 10 images then it is not very desirable. Can we do all-in-one like @wph95 suggests?

If all-in-one is not an option github packages seems like a good approach.

[2022-06-02 16:00] mic-max opened #89 "Save a copy of `grpc_health_probe` binary to the repository"
# Feature Request

Save a copy of [`grpc_health_probe`](https://github.com/grpc-ecosystem/grpc-health-probe/releases/tag/v0.4.11) binary to the repository. 10MB.

**Is your feature request related to a problem?**

Each of our services downloads this health probe (and will soon use with [Dockerfile HEALTHCHECK](https://docs.docker.com/engine/reference/builder/#healthcheck))) using wget.
Example: ht

[2022-06-02 16:31] cartersocha commented on #78
Let’s try the all in one approach then. @wph95 let us know if you’re running into any blockers / when you need the credentials

Let’s see if we can use cache_from to reduce build time too like @aabmass suggested on slack

[2022-06-02 16:55] reyang commented on #89
This decision - once made - is hard to revert.
The binary file will always sit in the commit history and be part of every git clone.

Maybe consider using submodule as the 1st step - put the binary in another repo, include it as a submodule here, and in the document mention git clone/pull with submodules. And after let's say 6 months or a year if we confirmed it's a great idea, make it to the main

[2022-06-02 19:33] wph95 commented on #89
I personally recommend only downloading the grpc_health_probe binary locally at build time, rather than saving it in the github repo.
p.s. We are working on https://github.com/open-telemetry/opentelemetry-demo-webstore/issues/78
So future users are more likely to use the pre-built image directly, rather than building it themselves.

[2022-06-02 20:02] reyang opened #90 "Improve the CI to block broken links"
https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/86#issuecomment-1145270046

It seems the current CI job doesn't prevent broken links. At minimum we should have gated CI job to prevent any relative link that is broken. Whether we should check absolute links or not is still to be decided due to the fragile nature.

One option is docfx, as been used in https://github.com/open-telem

[2022-06-02 20:11] #85 closed

[2022-06-02 23:21] cartersocha commented on #87
The thought with gRPC & http as our communication protocols is that they’d be broadly generic to cover any service communication.

I’d recommend commenting or adding this suggestion to our open architectural doc. There’s a link in GitHub discussions to it.

I’m not sure of any Java specific additions outside of ensuring all the OpenTelemetry signals / features are demonstrated. But we’d certainly

[2022-06-02 23:21] #87 closed

[2022-06-03 00:05] mic-max opened #96 "Add `depends_on` for all services in `compose.yml`"
https://docs.docker.com/compose/compose-file/#depends-on

[2022-06-03 00:50] JaredTan95 commented on #87
Okay, I will add it.

[2022-06-03 06:24] wph95 commented on #78
Some progress

1. all-in-one is more complex and involves changing the dockerfile for almost all services, because our services have different runtimes. Unlike jaeger, we only need to add some binary.
   Personally, I don't think it's a good choice for now.

Some options

1. `ghcr.io/open-telemetry/demo-{SERVICE_NAME}:{VERSION}`

   Good

   - image name is simple

   - don't need extra credential

[2022-06-03 06:48] wph95 commented on #90
one option is https://github.com/lycheeverse/lychee

[2022-06-03 07:03] cartersocha commented on #78
I’d lean option 3 or maybe 4. I don’t see docker credentials as a big blocker or negative so we should be good there. We should align with what the other community projects are doing too & it seems docker hub is the approach.

Why / how does changing the service / version determine 1 image vs. 10?

[2022-06-03 07:11] cartersocha commented on #78
& if we’re producing 10 images we should just create a OTel-demo user. So the naming would update to something like otel-demo/{version}—{service}

[2022-06-03 07:22] wph95 commented on #78
by the way, using the dockerhub/ github package is not a matter of either/or. We can save in both places.
e.g.
https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags
https://github.com/open-telemetry/opentelemetry-collector-releases/pkgs/container/opentelemetry-collector-releases%2Fopentelemetry-collector-contrib

[2022-06-03 17:38] austinlparker opened #100 "Define what baggage attributes should be set, and how they should be consumed by other services."
The demo should utilize baggage for telemetry attributes, demonstrating the following:

- Creating baggage
- Propagating baggage
- Extracting baggage and appending it to telemetry signals (metrics, logs, traces)

The two baggage signals that should be set are the following:

- `synthetic_request`: `true` or `false` set by load generator service
- `session_id`: string set by frontend service

These

[2022-06-03 18:16] cartersocha opened #101 "Define the microservices sampling strategy"
There needs to be a consistent sampling strategy employed across our services.

The current state has always on sampling by default but some services make that explicit while others do not.

A future sampling strategy is needed to demonstrate OpenTelemetry's capabilities in this space.

[2022-06-03 18:23] laziobird opened #102 "Give a simple example to use this client demo for AdService"
**Is your feature request related to a problem?**

@mic-max  @reyang

I found a client sample for this Java Project called "AdService" , and it is able to some steps for running  , like this

1. build a image for AdService , for example:
[code]
2. run a instance for AdService by Docker, for example:
[code]
3.  enter into the docker instance and start a client demo, for example:
[code]
4.  check  i

[2022-06-03 18:29] cartersocha commented on #78
@wph95 what's the difference in scenarios 3 & 4 that causes 10 images to be reduced to 1?

[2022-06-03 18:39] cartersocha opened #104 "Enhance the architecture diagram with OpenTelemetry elements"
The current micro-services is a great overview of our application but is missing OpenTelmetry components. To give users a full perspective of our environment we need to add these OTel components to an enhanced architecture diagram using mermaid.

https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/main/docs/v1Graph.md

[2022-06-03 19:07] mic-max commented on #102
That's great!!!

I think these instructions also belong in `/src/adservice/README.md` and also think we should still use the `docker compose up` command for running the service though to keep it simple and not give lots of ways to run these containers, especially if (not in this case) the service depends on another service or resource.

[2022-06-03 21:25] wph95 commented on #78
sorry , I used wrong word. I updated the scenario
10 images repository to 1 image repository

---
It is not very uncommon for us to encounter situations. For example, we can refer to the docker official python image https://hub.docker.com/_/python
They have encountered similar problems. They solved it by adding the information to the image version.

[code]

[2022-06-03 21:29] wph95 commented on #78
So I think we need to address that for now. (it's blocking me to finish this issue )
It's the choice of
` otel/demo-{SERVICE_NAME}:{VERSION}`.
or
` otel/demo:{VERSION}-{SERVICE_NAME}`.

- [ ] Define image_name image_tag format
- [x] Build the image (via github action)
- [x] push image to github package (via github action)
- [ ] dockerhub credentials

[2022-06-03 22:06] cartersocha commented on #78
ahh that makes sense! Thanks for the context.

I like the idea of the version then service name to consolidate in one repository personally. @julianocosta89 any preferences?

@tigrannajaryan, I think we’ll create a dedicated demo account. I’m assuming we still want this controlled by the community overall. How would you like this set up?

[2022-06-03 22:09] cartersocha commented on #78
@mic-max do you have an opinion on image naming conventions?

[2022-06-03 22:42] mic-max commented on #78
`otel/demo-{SERVICE_NAME}:{VERSION}` seems more natural to me, I don't have a strong preference since I am not too knowledgeable about Docker development

One thing to consider though is how the versions will work with each other / compatibility. When one image relies on another it will it also need to specify the version? How will the version numbers be increased with changes, if it only affects

[2022-06-03 22:49] cartersocha commented on #78
For single service updates they shouldn’t affect the versions of other images in my opinion. You would default to the latest version of each service in which case it probably makes sense to start with services stored individually

[2022-06-03 23:38] mic-max opened #106 "Add protoc command to Makefile"
# Feature Request

Add a single protoc command to the Makefile that will compile the `demo.proto` into all the services directories
Will probably also want to add rules to `.gitignore` that prevent them from being accidentally committed as well!

[2022-06-04 00:06] mic-max opened #107 "Remove `/pb/google/protobuf/Timestamp.proto`"
# Feature Request

This was added as a hacky way to get around protobuf compilation errors while migrating from keeping copies of `demo.proto` in the repository along with the language specific files/classes generated from the aforementioned proto file.

Installing `protoc` using `apk` might not be setting the include path correctly to this directory, which should be included with the install: htt

[2022-06-05 03:24] wajika commented on #84
My purpose is that the whole path can be recognized, I am testing whether the backend can record the complete topology and display it.
[learn about this](https://discuss.elastic.co/t/how-to-grab-kafka-traceparent-and-tracestate-headers/302982/2)
probably so: service > kafka > service > database

[2022-06-05 12:37] julianocosta89 commented on #78
Hello all, sorry I've missed this thread.

I personally thing that `otel/demo-{SERVICE_NAME}:{VERSION}` is more natural, but that would push the 10+ images to the OTel registry,  what we don't want, so I'm good in going forward with the following one:
`otel/demo:{VERSION}-{SERVICE_NAME}`

Thx @wph95 for taking care of that.

[2022-06-05 17:10] cartersocha commented on #78
@julianocosta89 i think wed just create a new account. Also we'll need to include language in the image name.

One service can have multiple implementations in our architecture. Its supposed to be modular.

Whatever order we choose we need service, language, version.

[2022-06-05 17:11] cartersocha commented on #78
But splitting by service makes the most sense conceptually to me

[2022-06-06 11:57] GaryPWhite commented on #35
@cartersocha I cannot assign myself, please feel free to assign me :)

[2022-06-06 15:08] austinlparker opened #114 "Define and add OpenSLO definitions for user journeys through demo application"
In order to provide some guidelines for monitoring, we should define SLOs for key user journeys through the application, and use [OpenSLO](https://github.com/OpenSLO/OpenSLO) to define them.

[2022-06-06 15:59] cartersocha commented on #78
To circle back on this during the SIG meeting we determined we are not planning on supporting multiple languages of individual services for v1. We might still want to keep that in the naming convention for future additions but we can revert to service / version name only if we want.

@wph95 feel free to make a proposal for which setup you'd like

[2022-06-06 18:13] #37 closed

[2022-06-07 04:58] julianocosta89 commented on #89
Hello all,

Do we have a final decision here?
I'm asking because we have the following PRs from @mic-max: #93, #105, #116, #117 and #118.
All of those have the download of `grpc_health_probe` binary removed from the Dockerfile

[2022-06-07 16:29] cartersocha commented on #78
@mic-max, @wph95, @julianocosta89 lets get this closed.

Sounds like were down to 2 options;
1. Name the images version-service-language under the OTel community account.
this would be stored as a single docker hub image but would be differentiated inside that repo by service name.
2. Name the images service-language-version. Store them separately as 10 images on docker hub in a newly created OTel

[2022-06-07 16:53] mic-max commented on #78
I'm fine with this approach 👍

[2022-06-07 17:29] mic-max commented on #89
Those PRs weren't meant to try to push one direction with this issue I just removed the `wget` commands since the downloaded binary was not being used anywhere.

To @reyang 's point of the binary always being in the git history I think this file will only ever be updated a few times in the life of the project so I'd be fine with ~40MB being added to a git clone for the benefit of not downloading t

[2022-06-07 20:55] julianocosta89 commented on #89
If we remove the `wget grpc_health_probe` from the Dockerfiles now, if we decide to not have the binary in the repo, whenever we write down the instructions for k8s we would need to bring it back in all Dockerfiles.

I agree that we are not using the `grpc_health_probe` ATM, but this will be used in the k8s manifests files.

[2022-06-08 14:24] austinlparker commented on #78
I've opened a request to have the opentelemetrybot credentials added to this repository in order to publish images there. See https://github.com/open-telemetry/community/issues/1073

[2022-06-08 14:28] austinlparker commented on #78
As for naming, I don't see the problem in doing `otel/demo-{SERVICE_NAME}:{VERSION}`. not like container images are an exhaustible resource? but if there's no harm in doing `otel/demo:{VERSION}-{SERVICE_NAME}` from a container-y point of view then that's fine.

[2022-06-08 14:54] austinlparker commented on #89
Personally I'm not a fan of submodules. I'm also not entirely sure about this claim:

I can see plenty of cases where someone is running a mix of local + prebuilt images, especially if they're using this repo to experiment with OpenTelemetry.

As a compromise solution, would it be possible to create a preinstall/prebuild script that downloads and caches `grpc_health_probe` locally in a known locat

[2022-06-08 19:43] cartersocha commented on #78
The issue is adding too many images to the otel repo by following service - version name. We're effectively doubling the amount of containers tied to the user which isn't ideal from a community impact perspective.

Sounds like version-service is the probable choice

[2022-06-08 19:45] cartersocha commented on #78
@austinlparker thanks for opening the issue. From the maintainers slack it sounds like we just need to wait for some to take a look or does it need to be formally assigned?

[2022-06-08 19:52] wph95 commented on #78
@cartersocha
I plan to finish #91, as the first version
1. build image by  GitHub action
2. push the image to GitHub package with format `ghcr.io/open-telemetry/demo:{VERSION}-{SERVICE_NAME}`

After our GitHub action has the secrect for the dockerhub  `otel` org token, I will create pr and have the GitHub action push image to docker hub

[2022-06-09 04:46] mic-max commented on #89
I appreciate all these suggestions and alternatives and they do seem good and better IMO than the existing method. However, I keep coming back to simply saving the binary to the repository.

Some reasons:
- No extra steps for building locally or via CI pipelines
- No network dependency to build images _after_ cloning the repository
- No additional tool required such as `wget` in the **building** o

[2022-06-09 10:49] Frapschen commented on #96
hi, some service, like email service , don't depend  on an other service, what should be set in the `depends_on` ? , otelcol?

[2022-06-09 12:59] ahayworth commented on #96
👋 Specifically for `emailservice`, I think the following dependencies make sense:
- `emailservice` ---depends on--> `otelcol`: Practically speaking, `emailservice` will work even if `otelcol` is not available, but since the purpose of this demo is to show off OpenTelemetry then I think the dependency makes sense.
- `checkoutservice` ---depends on--> `emailservice`: if `emailservice` is unavailable

[2022-06-09 15:04] Frapschen commented on #96
got it, I can help the issue

[2022-06-09 22:50] fatsheep9146 commented on #70
hi, I want to help with this, can you assign this to me? @cartersocha

[2022-06-09 22:57] cartersocha commented on #70
@fatsheep9146 🚀

[2022-06-10 01:19] Frapschen opened #126 "loadgenerator build failed"
# Question
I want build the loadgenerator service ,run :
[code]
I got an error:
[code]
dev env:
[code]

is there someone encounter the same err or help me out ?

[2022-06-10 01:31] guoguojiacheng opened #127 "Error downloading gEvent package after docker compose up"
# Question

Use [Github Discussions](https://github.com/open-telemetry/opentelemetry-demo-webstore/discussions/).
#0 53.03 Collecting gevent>=20.9.0
#0 53.87   Downloading gevent-21.12.0-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.1 MB)
#0 73.15      ━━━━━                                    0.8/6.1 MB 189.8 kB/s eta 0:00:28
#0 73.16 ERROR: Exception:
#0 73.16 Traceback (most rece

[2022-06-10 01:50] fatsheep9146 commented on #127
I think this maybe you machine can't connect to ```files.pythonhosted.org``` according to the error message. I think you can check with ```curl files.pythonhosted.org``` on your machine directly.

[2022-06-10 02:48] guoguojiacheng commented on #127
Thank you very much. I have replaced the source of PIP and it works normally

[2022-06-10 02:48] #127 closed

[2022-06-11 21:38] wph95 commented on #90
## [lychee](https://github.com/lycheeverse/lychee)
Pros: A wide variety of formats are supported.
Cons: Some setup is required.

## [markdown-link-check](https://github.com/tcort/markdown-link-check)
Pros: only support markdown/text
Cons: easy to use

[2022-06-12 20:36] wph95 commented on #126
[code]
not reproduce

Because I don't have an m1 mac, I can't help you troubleshoot. I personally think
This is not the problem of this repo. Because the base image used is the official `python:3.10-slim`.
and I recommended
 - Update your docker for mac
 - Manually pull docker image "docker pull python:3.10-slim" to make sure the local image is up to date.
 - Retry again

[2022-06-12 20:41] wph95 commented on #39
Personal thoughts, can we refer to https://store.cncf.io/ for our demo store's ui/merchandise (not sure if there will be copyright issues)
by the way, I'm interested in helping the demo store optimize the ui

[2022-06-13 01:26] TommyCpp commented on #35
Please feel free to let me know if you need any help :)

[2022-06-13 01:37] fatsheep9146 commented on #49
1. Automatic Instrumentation is being used where appropriate.

I think the project `frontend` meets this requirements. Since the two main libraries that project used are both instrumented appropriately.

- `google.golang.org/grpc`
- `github.com/gorilla/mux`

the instrumentation is initialized in following lines:

- https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/a49f3b8f30e344c8

[2022-06-13 02:37] cartersocha commented on #49
I think that covers the instrumentation library requirement. Auto instrumentation is one of those words that means something different to everyone.

In this case auto instrumentation is the agent / collector running in a sidecar right @austinlparker ?

[2022-06-13 02:46] cartersocha commented on #49
@puckpuck could you check off the requirements you completed in your pr?

From a quick glance it seems like telemetry is not being sampled / filtered, custom attributes are being added to all spans, & library instrumentation is pre-existing. Did I miss anything & would we consider this interprocess context prop with the middleware attribute example too?

[2022-06-13 12:52] puckpuck commented on #49
We can check off the following from the list.

* [ ]  Services extend automatic instrumentation.
  * [x]  New attributes/events attached to existing spans.
  * [ ]  New spans are being created from existing spans.
* [ ]  Automatic and Manual Context Propagation are being demonstrated.
  * [x]  Interprocess context propagation is demonstrated.
  * [ ]  Intraprocess context propagation is demonstrat

[2022-06-13 13:18] GaryPWhite commented on #35
@TommyCpp I'll tag you in the PR when it's ready for some review, specifically I'm open to learning about better practices for OTel as I implement it :)

[2022-06-13 19:34] mic-max commented on #39
I came looking for an existing issue to suggest an astronomy shop too since that is already the theme of the site https://opentelemetry.io/

[2022-06-13 20:39] cartersocha commented on #39
Not sure if we can piggyback off the cncf domain. We might be better off using opentelemetry itself.

It would be cool to have it do something like store.opentelemetry.io. @austinlparker any issues with the copyright you can think of? Don't want to step on any toes.

[2022-06-13 21:55] austinlparker commented on #39
I don't think there'd be copyright issues.

As a stretch goal, it might be nice to see if we could keep an instance of this running somewhere and have the dashboards and stuff going as well.

[2022-06-13 22:01] austinlparker commented on #78
I believe someone will come along and pick it up, but maybe poke somebody if there's no traction in a couple days

[2022-06-13 23:08] wph95 opened #135 "release a alpha/beta version to trigger the image build/push"
#41 need demo-webstore docker image

[2022-06-13 23:12] wph95 commented on #78
reopen it, until we finished pushing the image to dockerhub then close it.

[2022-06-14 07:05] mviitane commented on #31
Jaeger screenshots have a dark top bar -> no contrast to the background. However, for me, this is still fine, because the text is clearly visible.

One possible improvement to make the screenshots look better would be to remove borders from the screenshot tables.

[2022-06-15 00:57] parker-edwards commented on #126
@Frapschen if it's helpful I ran into this error as well and was able to resolve it by replacing `python:3.10-slim` with `python:3.10` in `/opentelemetry-demo-webstore/src/loadgenerator/Dockerfile`

[2022-06-15 04:43] puckpuck opened #140 "getting connection refused with Cart Service"
# Bug Report

Which version of the demo you are using?
[982cefedaa504a52b658e32d45e4d5f5a8ca68bd](https://github.com/open-telemetry/opentelemetry-demo-webstore/commits/982cefedaa504a52b658e32d45e4d5f5a8ca68bd) - PR #105

## Symptom

The cart service seems to be unreachable, and all upstream services return an error when attempting to connect

**What is the expected behavior?**

No errors

**What i

[2022-06-15 14:27] austinlparker commented on #135
See https://github.com/open-telemetry/opentelemetry-demo-webstore/actions/runs/2502937267

[2022-06-15 14:48] wph95 commented on #135
Thx @austinlparker It's work! https://github.com/open-telemetry/opentelemetry-demo-webstore/pkgs/container/demo

[2022-06-16 14:39] julianocosta89 commented on #89
Hello again,

Sorry to keep coming back to this, but I think we should decide it as the PRs #105, #116, #117 and #118 got merged.
All of them removed the grpc_health_probe download from the Dockerfiles.

Will we add the binary to the repo, or should we re-add the wget to the Dockerfiles?

[2022-06-16 16:00] Frapschen commented on #126
think for your advice :)

[2022-06-16 16:01] Frapschen commented on #126
think for your advice :) this method work for me.

[2022-06-16 16:25] julianocosta89 commented on #140
@puckpuck can we revert the PR #105 in order to have a running sample again?

[2022-06-16 16:27] robbkidd commented on #140
My current workaround for this is to add the following to the cartservice environment stanza in docker-compose.yml:

[code]

This gets me past the frontend service failing to connect to cartservice and to a new error, a 500 from cartservice itself:

[code]

[2022-06-16 18:06] puckpuck commented on #140
I'm going to investigate this deeper to try and figure out what in the PR broke it. I'll know more by tomorrow.

[2022-06-17 01:54] #126 closed, assigned to nobody

[2022-06-17 02:09] austinlparker opened #148 "Integrate Pixie for eBPF Telemetry"
Pixie (an eBPF telemetry tool for Kubernetes) has recently updated to support OTLP output (see [here](https://docs.px.dev/tutorials/integrations/otel/) for a tutorial). We should evaluate this as a potential integration for the Kubernetes-deployed version of the demo.

[2022-06-17 02:10] Frapschen commented on #66
@cartersocha I'm a little confuse, what metrics should we add to service? in my view, we can add some span metric by the otel-collector:
* calls_total
* latency_bucket

[2022-06-17 02:15] austinlparker opened #149 "Determine release verification process"
In order to ensure that we're not breaking telemetry or causing regressions, it would be good to figure out some sort of telemetry verification test suite. Potentially, this could be automated with the use of something like [TraceTest](https://tracetest.kubeshop.io).

We should first determine what the appropriate level of verification is, and go from there -- I don't necessarily think it'd help t

[2022-06-17 02:25] puckpuck opened #151 "Services extend automatic instrumentation."

[2022-06-17 02:26] puckpuck commented on #151
created in error

[2022-06-17 02:26] #151 closed

[2022-06-17 02:28] puckpuck commented on #60
Should we check this one as well for Java?

- [ ] Library instrumentation is being used if automatic instrumentation is unavailable.

[2022-06-17 02:28] puckpuck opened #152 "New attributes/events attached to existing spans."

[2022-06-17 02:29] puckpuck commented on #152
created in error

[2022-06-17 02:29] #152 closed

[2022-06-17 03:23] cartersocha commented on #66
We haven’t had time to define our metric story yet. We are planning on discussing overall metric requirements in our next sig meeting.

We’ll need to set up a consumption experience too. I’m guessing we’ll add grafana in a container or something similar.

Feel free to open a pr with what metrics you think would be useful. Then we can use that to solicit feedback / input from everyone

[2022-06-17 07:45] julianocosta89 commented on #60
@puckpuck we could maybe add a Feature Flag to decide if the Jave OTel Agent will or not be deployed to the AdService.
And when not, then the library instrumentation should be there.

[2022-06-17 13:00] #140 closed

[2022-06-17 13:33] #40 closed

[2022-06-17 13:40] ahayworth commented on #149
An initial integration spec could look something like this, perhaps -

For each request that the load generator can perform:
- We should be able to locate one complete, unbroken trace.
- That trace should contain at least one span from every service we expect to be participating in that request.

Making additional assertions about ordering or what attributes are present might end up being brittle,

[2022-06-17 19:09] wph95 opened #153 "deployment demo webstore to kubernetes"
## helm chart
- [ ] demo-webstore
- [ ] otelcol
- [ ] jaeger
- [ ] Prometheus
- [ ] document
- [ ] Multi-node (load balancing, replica etc.)
- [ ] documents
- [ ] test

## Kubernetes quick setup (local setup)
- [ ] Kubernetes YAML file
- [ ] documents

---

The demo store currently only supports docker-compose deployments.
We should support the deployment of the demo store to Kubernetes.
There are

[2022-06-17 20:03] lalitb commented on #36
Thanks, @cartersocha for assigning. We plan to complete it during first/second week of July, at that time we would also have RC for metrics in C++.

[2022-06-17 22:28] wph95 opened #156 "docker image ghcr.io/open-telemetry/demo is private, expect it to be public"
this image repo is private
https://github.com/open-telemetry/opentelemetry-demo-webstore/pkgs/container/demo

need someone to set it to public

[2022-06-17 23:14] cartersocha commented on #114
I think someone from the open slo community volunteered to help you with this. I’m going to check our slack

[2022-06-18 07:52] weyert commented on #114
You can assign this one to me

[2022-06-18 18:37] cartersocha commented on #156
@austinlparker was this set during that release we had a couple days ago?

[2022-06-18 18:48] austinlparker commented on #156
I didn't set anything to do with it; Who manages that container registry account?

[2022-06-20 17:13] tigrannajaryan commented on #78
Hey folks, sorry it took so long, we had to re-create a bot account on Docker hub. It is ready now. Tell where you need the credentials and I will enter them.

[2022-06-20 18:39] mic-max commented on #140
Ya I'd like to know why as well. I wanted to remove the generate files, which `./services/CartService.cs` is one of, but obviously would prefer the example still works :D

[2022-06-22 03:08] puckpuck commented on #140
Though the logic doesn't seem like much, I don't believe that file is generated. It acts as a thin wrapper around calling into the CartStore itself.

[2022-06-22 07:40] mic-max commented on #89
@julianocosta89 to your comment would the local binary not suffice for this k8s scenario? Also, it doesn't look like we have much discussion here so I'll bring it up next Monday's meeting since there wasn't one this week. I will have [this PR](https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/93) out of draft stage by then as well

[2022-06-22 07:43] mic-max commented on #140
Ah that does seem plausible. I wonder if this wrapper pattern is typically used in C# protobuf projects..

[2022-06-22 11:29] tsloughter opened #162 "Default set of feature flags"
# Feature Request

There should be a set of feature flags available at boot.

**Is your feature request related to a problem?**

Currently a user must go into the feature flag UI and manually add any flags.

**Describe the solution you'd like:**

There are two things to be done. One is the implementation in the feature flag service to be able to load a set of flags to the database at startup. The

[2022-06-22 19:42] julianocosta89 commented on #89
Once the `grpc_health_probe` is in the container we can call it from k8s without any issue.
The issue is that if we remove the `grpc_health_probe` download from the Dockerfile and we do not agree in adding the binary into the repo, then we will need to add the download back to the Dockerfile again.
I'm just trying to avoid the re-work.

[2022-06-22 21:55] wph95 commented on #78
@tigrannajaryan
thx your help. I expect to have `DOCKER_USERNAME ` and `DOCKER_PASSWORD ` in our github action secrets

ref
https://docs.github.com/en/actions/security-guides/encrypted-secrets

https://docs.github.com/en/actions/publishing-packages/publishing-docker-images#publishing-images-to-docker-hub

[2022-06-22 23:10] fatsheep9146 commented on #70
It seems that this issue is auto closed by #160? I think it is still needed to be open.

[2022-06-22 23:19] cartersocha commented on #70
I think pr merges close referenced issues by default. It’s a bit annoying. Thanks for calling this out & for starting the metrics work

[2022-06-23 04:47] julianocosta89 commented on #70
Whenever the PR has `fix #<ISSUE_NUMER>` the issue will be automatically closed.
When not implementing everything we could just refer the issue, but without the `fix` to avoid this behavior.

[2022-06-23 15:28] fatsheep9146 commented on #153
I agree with this issue. With kubernetes, we can also involve opentelemetry operator into this demo which is more close to the way of using otel-collector for users who are also using kubernetes.

[2022-06-24 20:05] dmitryax commented on #153
The helm chart should be probably added to https://github.com/open-telemetry/opentelemetry-helm-charts

[2022-06-24 20:07] dmitryax opened #170 "LoadGenerator service fails to start"
Not sure why it wasn't reported before. Maybe something wrong with my environment.

I'm getting the following error on the start from loadgenerator service:

[code]

Removing instrumentation from the `loadgenerator` solves the problem.

[2022-06-26 21:24] cartersocha commented on #170
@mic-max, @julianocosta89, @puckpuck could one of yall take a quick look at this? I'm also having the issue locally and it breaks the app 😞

[2022-06-27 17:25] mic-max commented on #170
Might have been related to the `requirements.in` file being removed but I wasn't easily able to find the culprit.

[2022-06-27 17:55] #170 closed

[2022-06-28 12:45] svrnm opened #174 "Add some "demos" for collector components"
# Feature Request

The current [collector configuration](https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/main/src/otelcollector/otelcol-config.yml) coming with the demo-webstore is mostly for receiving traces/metrics and exporting them once again.

I think there's some opportunity to easily add some demos of collector features/components, e.g.

* use some processors like attribu

[2022-06-29 19:15] tigrannajaryan commented on #78
I missed this notification somehow. If this happens again please ping me on Slack.

DOCKER_USERNAME and DOCKER_PASSWORD secrets now added to this repo. You should be able to push. The secret as "Read & Write" Docker hub premission.

[2022-06-29 20:20] mic-max opened #177 "Integrate standard metrics from the .NET runtime to `cartservice`"
# Feature Request

https://github.com/open-telemetry/opentelemetry-dotnet-contrib/tree/main/src/OpenTelemetry.Instrumentation.Runtime

PR with similar goal: https://github.com/open-telemetry/opentelemetry-dotnet/pull/3408

[2022-06-30 02:38] #60 closed

[2022-06-30 04:50] julianocosta89 opened #178 "Loadgenerator failing to start in Mac M1"
# Bug Report

Which version of the demo you are using?
[f8db21d7ce011c965d5edd6f058429eae7e2d4e3](https://github.com/open-telemetry/opentelemetry-demo-webstore/commit/f8db21d7ce011c965d5edd6f058429eae7e2d4e3)

## Symptom

**What is the expected behavior?**

We expect the demo to start and have load automatically.

**What is the actual behavior?**

Loadgen failing to start.

## Reproduce

`docker c

[2022-06-30 06:09] SonjaChevre commented on #178
thank you @julianocosta89 for creating the bug report!

[2022-06-30 12:37] Kiedro commented on #178
hi, I was able to sucessfully run `docker compose up` after changing
`FROM python:3.10-slim AS base` to `FROM python:3.10 AS base`
in file `src/loadgenerator/Dockerfile`

Not sure if this is optimal/desired change, and how it affects other platforms.

[2022-06-30 14:09] GaryPWhite commented on #178
worth noting that I'm running an M1 and not seeing this issue 🤔

[2022-06-30 16:33] julianocosta89 commented on #178
@GaryPWhite are you running the same version?
We got 3 users reporting the same issue 🤔

[2022-06-30 16:36] julianocosta89 commented on #178
Thanks for taking a look @Kiedro!
I believe that moving away from the slim image will only affect the size of the image.

[2022-06-30 16:38] julianocosta89 commented on #178
@GaryPWhite I believe you already have a python:3.10-slim cached and docker is not trying to pull the latest one.

Could you try to delete it and run the compose build again?

[2022-07-01 00:09] jsirianni opened #181 "Memory footprint featureflag service"
# Question

Is  it possible to reduce `featureflagservice`'s memory footprint? Everything in the stack is pretty light except for featureflagservice, which consumes 1.5GB+ memory.

[code]

Context: My fork sets `deploy.resources.limits` for each service, and the featureflag service refuses to run unless given at least 1GB memory.

[2022-07-01 03:08] JaredTan95 commented on #156
from github packages docs : https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility

Do we need the org owners or who have admin permissions to open it?

[2022-07-01 03:08] JaredTan95 commented on #156
from github packages docs : https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility

Do we need the org owners or who have admin permissions to open it?

[2022-07-01 05:16] cartersocha commented on #181
@tsloughter @maciej-szlosarczyk fyi

[2022-07-02 16:07] julianocosta89 commented on #53
I've checked the following 2 points as we already have automatic instrumentation in the payment service:

- [x] Automatic Instrumentation is being used where appropriate.
- [x] Library instrumentation is being used if automatic instrumentation is unavailable.

https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/main/src/paymentservice/tracing.js#L7

[2022-07-02 21:24] #59 closed

[2022-07-05 21:17] #78 closed

[2022-07-05 23:00] wph95 commented on #135
@austinlparker could you create a new version release?
because we merge https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/184

[2022-07-06 13:27] austinlparker commented on #135
v0.2.0 has been cut

[2022-07-06 16:52] cijothomas commented on #77
I am still unable to run from windows. The instruction from https://github.com/open-telemetry/opentelemetry-demo-webstore#gradle-update-windows-only also does not help.

[code]

[2022-07-06 19:01] austinlparker commented on #135
Re-ran the build and this is working now! Thanks! 🎉

[2022-07-06 19:01] #135 closed

[2022-07-06 23:14] mic-max commented on #77
@cijothomas Does running `docker compose build --no-cache adservice` work?
If so, I think we can close and remove the instruction from `README.md` - the merged PR linked to this issue might have fixed the entire issue and the extra steps are no longer needed.

[2022-07-06 23:54] cijothomas commented on #77
![image](https://user-images.githubusercontent.com/5232798/177661583-7bb6940e-a6c3-4cf5-8e9e-fc6cba6bb808.png)
unfortunately, no :(

[2022-07-08 03:36] Frapschen commented on #178
I had encoutered the same problem, I fix it by #126

[2022-07-08 03:54] Frapschen opened #192 "change docker-compse image pull way"
# Feature Request

the docker-compse current use `build` command to create the image, it often occur unexpected problem when someone want to  take a look the demo, like #178 #170 #126, and I notice #184 had merged, can we use the prebuild image instead of build localy? by the way, there is also don't have a clearly way to kown how to find the demo image  in docker hub.

[2022-07-08 06:44] Frapschen opened #193 "how to build adservice"
# Question

I run the `./gradlew installDist` and get errors:
[code]

[2022-07-08 20:10] mic-max opened #195 "Add E2E service tests"
Add tests that send requests to a service and verify that a response is expected.
Planning on implementing all tests in node.js for simplicity.
This will help us make modifications to a service and know without running the entire project that the service changed still operates in as intended.
There might be other changes needed like opening the ports of the service to localhost within the `docker-

[2022-07-08 20:33] cartersocha commented on #77
Seems to potentially be an issue between mac & windows ending characters for the gradlew file. I fixed it by changing the ending character in notepad++ to Unix lf

[2022-07-10 00:21] mic-max commented on #195
Running `npm test` could be part of the CI if it also started all services for the demo...

[2022-07-10 02:45] mic-max commented on #96
Looks like this is done!

[2022-07-10 02:45] #96 closed

[2022-07-12 17:13] tsloughter commented on #181
Sorry, only seeing this now. It should not use that much ram in the slightest. I see no reason it shouldn't work with 256MB of ram, so will have to investigate why it would be using so much.

[2022-07-12 17:22] tsloughter commented on #181
And yea, as @maciej-szlosarczyk asked, the logs would be helpful.

[2022-07-12 20:49] cartersocha commented on #193
I had an issue with the gradlew file. I had to change the file ending to unix lf. Is this similar or separate?

[2022-07-12 20:51] cartersocha commented on #178
Can we close this? @Frapschen is your solution something we can add to the repo?

[2022-07-13 04:48] julianocosta89 commented on #178
@cartersocha, the solution is part of @GaryPWhite's PR.
We will be good to close this one whenever the Rust PR is merged.

[2022-07-13 15:51] #35 closed

[2022-07-13 17:32] GaryPWhite commented on #178
good to close this now I think! PR is merged!

[2022-07-13 18:00] #178 closed

[2022-07-13 18:11] GaryPWhite opened #206 "shippingservice should ask productcatalog for prices"
# Feature Request

**Is your feature request related to a problem?**

[The naive implementation](https://github.com/open-telemetry/opentelemetry-demo-webstore/blob/e554195878171f4482a0adb456a4ee77b80c6a44/src/shippingservice/src/shipping_service/quote.rs#L12-L23) of generating a quote, namely the part where we determine the price of every item to be 8.99, can be improved.

**Describe the solution

[2022-07-13 19:51] cartersocha commented on #34
Hey @tidal, @bobstrecansky, is there an update on this? We merged the rust service today, so PHP is the remaining outstanding language not present.

[2022-07-14 01:57] Umleitungen opened #208 "currencyservice docker building "nlohmann/json.hpp: No such file or directory""
# Bug Report

Which version of the demo you are using? (please provide either a specific
[c26b9dac1fa688001ccf59c2cf47d8b696414c87](https://github.com/open-telemetry/opentelemetry-demo-webstore/commits/main)

## Symptom

when dockerfile uses ubuntu:20.04, docker building of currencyservice reports "nlohmann/json.hpp: No such file or directory"

**What is the expected behavior?**

no such error whi

[2022-07-14 01:57] Umleitungen commented on #208
apt-get install nlohmann-json3-dev https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/205

[2022-07-14 02:02] Umleitungen opened #209 "currencyservice docker building - Could NOT find CURL"
# Bug Report

Which version of the demo you are using? (please provide either a specific
[[c26b9dac1fa688001ccf59c2cf47d8b696414c87](https://github.com/open-telemetry/opentelemetry-demo-webstore/commits/main)

## Symptom

when dockerfile uses ubuntu:20.04, docker building of currencyservice reports "Could NOT find CURL (missing: CURL_LIBRARY CURL_INCLUDE_DIR)"

**What is the expected behavior?**

[2022-07-14 02:03] Umleitungen commented on #209
need install libcurl4-openssl-dev additionally

https://github.com/open-telemetry/opentelemetry-demo-webstore/pull/205

[2022-07-14 17:33] reyang commented on #156
It seems I've figured out how to do that, would you confirm if the package is now public / meeting your expectations? I'll follow up regarding whether we should/can give the permission to repo maintainers.

[2022-07-15 04:58] cartersocha commented on #77
Has this been fixed @mic-max? I know we have the readme windows guidance

[2022-07-15 04:59] cartersocha commented on #181
@jsirianni could you provide the logs? We haven’t been able to replicate any memory issues on other hardware & are a bit stumped

[2022-07-15 17:43] xoscar commented on #39
Hello Team, I'm Oscar Reyes from the Tracetest team and I'm going to be working on a proposal to move the front-end section of the app to a SPA. I'm really excited to start contributing 😄

[2022-07-15 17:59] tsloughter commented on #39
/cc'ing @maciej-szlosarczyk -- assuming you still want to update the featureflag service UI you might want to keep tabs on this issue and @xoscar's work :)

[2022-07-16 07:48] #209 closed

[2022-07-16 07:48] #208 closed

[2022-07-17 00:19] ymtdzzz opened #213 "fail to build payment service image using Apple Silicon Mac"
# Bug Report

Which version of the demo you are using?
current latest master ( https://github.com/open-telemetry/opentelemetry-demo-webstore/commit/48888b031cf16a9c56219720194c7aa8be10be85 )

## Symptom
**What is the expected behavior?**

payment service image should be built successfully.

**What is the actual behavior?**

an error comes up when building payment service image.

<details>

<summar

[2022-07-17 06:49] fatsheep9146 commented on #70
After a few days of learning, I found that the metric for frontend service still have many things need to be done,

1. The existing metrics do not match the [Semantic Conventions for Http Server](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#http-server), the gaps includes
  - missed metrics, such as `http.server.

[2022-07-17 22:36] #213 closed

[2022-07-20 03:11] Frapschen commented on #153
I would like to help the helm chart :)

[2022-07-20 03:25] JaredTan95 commented on #156
Great works. the package is now public:
[code]

[2022-07-20 03:30] #156 closed

[2022-07-20 17:58] cartersocha opened #220 "New services don't have consistent licensing"
Some services have OpenTelemetry author licensing while others like the shipping service have no licensing.

We need consistent licensing across our new services including: the currency service, feature flag service, shipping service, & email service

[2022-07-20 17:58] cartersocha commented on #220
@mtwo Can you please provide some guidance on what we should do to give proper ownership to the otel community / use the appropriate license?

[2022-07-20 19:09] wph95 commented on #192
'm very sorry about this.
We are not ready to document about this thing yet. This thing is still a work in progress. The plan is to have detailed documentation explaining the corresponding issues when the helm chart is released.
If you are interested in this matter, you can see the context in this issue.

[2022-07-20 19:49] wph95 commented on #153
We need to have a discussion/vote on whether our helm chart should be called `opentelemetry-demo` or` opentelemetry-demo-webstore` (to be consistent with the repo name)
@austinlparker @cartersocha @open-telemetry/demo-webstore-approvers  @open-telemetry/demo-webstore-maintainers

[2022-07-20 19:50] wph95 commented on #153
helm chart: opentelemetry-demo

[2022-07-20 22:01] ahayworth commented on #220
FWIW When I contributed it, I assumed that the `emailservice` would be licensed under the project-wide Apache license.

But, licensing makes my head hurt, so I'm happy to support fixing that in whatever way needs to be done.

[2022-07-20 22:47] cartersocha commented on #220
It should stay under Apache 2. We just want a consistent credit blurb for “OpenTelemetry Authors” or whatever form it takes if that makes sense

[2022-07-21 02:24] JaredTan95 commented on #153
Vote: I'd like the chart called the same name as the repo

[2022-07-21 14:58] austinlparker opened #222 "Repository Name Change"
Per discussion in #153 (and Slack), there's a general consensus that the current repository name should be modified to `opentelemetry-demo` rather than `opentelemetry-demo-webstore`. If we're going to do it, we should do it now before too many links get made. This issue tracks work that needs to be done --

- [x] Request rename in community issue for repository and approver/maintainer teams.
- [x]

[2022-07-21 15:48] cartersocha commented on #222
I support the name change

[2022-07-21 16:09] dmitryax commented on #153
I'd say we should keep it consistent with other charts which are called the same as repos. What's the benefit of dropping `-webstore`?

[2022-07-21 16:52] puckpuck commented on #153
We are investigating changing the repo name, and dropping the `-webstore` suffix.  See #222

[2022-07-21 21:07] austinlparker commented on #222
Opened a request for renames here: https://github.com/open-telemetry/community/issues/1115

[2022-07-21 21:43] wph95 opened #223 "Cart-Service need more helpful log / status check"
used wrong env `OTEL_EXPORTER_OTLP_TRACES_ENDPOINT`, cart-service can't connect to OTLP
**but no error log**

[code]

used right env `OTEL_EXPORTER_OTLP_ENDPOINT`, connect to OTLP
[code]

[2022-07-21 21:47] wph95 commented on #223
might improve LogLevel ?

[2022-07-21 23:06] reyang commented on #222
I've made the change, please help to double check and follow up on https://github.com/open-telemetry/community/issues/1115#issuecomment-1192015057.

[2022-07-21 23:11] reyang commented on #222
These are the commands that can help you to migrate:

[code]

[2022-07-22 00:07] cartersocha commented on #153
Yall should be unblocked now. Please proceed

[2022-07-22 00:08] cartersocha commented on #223
@mic-max could you potentially take a look when youre back?

[2022-07-22 00:20] cartersocha commented on #222
Do we need to update any repo stuff to the new name / group names @reyang ? I'm noticing my PRs don't have the approvers auto assigned for instance

[2022-07-22 03:24] Frapschen opened #226 "yamllint don't give enough message for locating error"
# Bug Report

current yamllint don't give enough message for locating error:

![image](https://user-images.githubusercontent.com/35491170/180354676-a37b7bf6-b08f-4bbd-a0da-902726f17663.png)

if an error occur, we can't find the error location, as the [adrienverge/yamllint](https://github.com/adrienverge/yamllint#overview) show, it can tell us the error locatons clearly.

the command `yamllint . -f

[2022-07-22 03:42] reyang commented on #222
I think it's caused by https://github.com/open-telemetry/opentelemetry-demo/blob/b4125aac374822b0e68f79dd91fa060d80eac3a9/.github/CODEOWNERS#L5 which needs to be updated.

[2022-07-22 04:42] Frapschen commented on #192
yes, there is no contradiction, the `image` command have added, I don't notice it. the README.md need a little imporve, only run `docker compose up` the pull stage will fail, if there is a note 'if you want to test the pre-build image, you need export the IMAGE_NAME and IMAGE_VERSION
 enviroment' the guidance will be better.

[2022-07-22 13:57] kdhamric commented on #39
@olha23 has done a preliminary mock of the online store trying to match the style of the opentelemetry.io site with the 'Astronomy Shop' theme.  Take a look and give her feedback: https://www.figma.com/file/6YjjnLhE7QExI2RY0LyCpU/OTEL-demo?node-id=2%3A26

[2022-07-22 16:07] wph95 commented on #226
you can saw the detail error in here https://github.com/open-telemetry/opentelemetry-demo/pull/212/files#diff-5c2c0c519ac17acb48d9da9321b869aa61caef2209426fdf00726b1d12321f5eR30

[2022-07-22 16:07] #226 closed

[2022-07-22 17:11] cartersocha commented on #222
@austinlparker all demo repo links are updated. Just the community & other repos remain

[2022-07-25 16:19] cartersocha commented on #222
This should be good now.

[2022-07-25 16:19] #222 closed

[2022-07-25 17:01] austinlparker opened #228 "Enable codecov for repo"
Per slack -- https://cloud-native.slack.com/archives/C03B4CWV4DA/p1658518984210019

[2022-07-25 17:02] austinlparker commented on #228
See https://github.com/open-telemetry/community/issues/1119

[2022-07-25 18:52] mic-max commented on #77
I'm not sure, I haven't done any related change recently since I'm not able to reproduce the problem anymore..

[2022-07-25 19:11] cijothomas commented on #77
https://github.com/open-telemetry/opentelemetry-demo#gradle-update-windows-only This section does not work in windows.

pasting few lines from the error I see:

C:\repos\opentelemetry-demo\src\adservice>.\gradlew installDist
Starting a Gradle Daemon (subsequent builds will be faster)

C:\repos\opentelemetry-demo\src\adservice\src\main\java\hipstershop\AdService.java:21: error: package hipstershop.

[2022-07-25 19:13] cijothomas commented on #77
Since the issue is not fixed, I'd suggest to keep this open.

[2022-07-25 19:15] cartersocha commented on #77
Did you try changing the file ending @cijothomas ? I’m unable to reproduce

[2022-07-25 19:22] cijothomas commented on #77
No

[2022-07-25 20:06] tidal commented on #34
As discussed with @cartersocha I will create a PR with  basic service setup as a draft.
This service will feature roadrunner with [OpenTelemetry middleware](https://roadrunner.dev/docs/middleware-otel/2.x/en) as an app server.
[API Platform](https://api-platform.com/)  will make the implementation of auth and API easy.
It also allows to generate an [admin ui](https://api-platform.com/docs/admin/)

[2022-07-25 21:19] cartersocha commented on #39
FYI @maciej-szlosarczyk on the figma design.

@kdhamric @olha23, looks fantastic. Only nit feedback from the sig meeting is we’d like more product diversity but overall excellent work & easy fix

@xoscar I think we’re good to move forward with this design

[2022-07-26 11:46] fatsheep9146 opened #233 "[ci] add license lint check"
# Feature Request

I think the repo missing license lint check.

I submit a pr with a new but without license info, all checks are passed

https://github.com/open-telemetry/opentelemetry-demo/pull/232/commits/a14ac2509d0ea029c0a3178a0cbbf6f7dd65906f

**Describe the solution you'd like:**

What do you want to happen instead? What is the expected behavior?

Throw out check failed for pull request, j

[2022-07-26 21:23] cartersocha opened #235 "Review and enhance tracing support for ad service service (Java)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [x] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-07-26 22:25] cartersocha commented on #233
Is there an equivalent of this in the dotnet repo @reyang ?

[2022-07-26 22:32] reyang commented on #233
Nope, I guess the model is different. OpenTelemetry .NET does not redistribute any source or binary.
I can see how this is important for demo and collector.

[2022-07-26 22:59] cartersocha commented on #233
@bogdandrutu or @tigrannajaryan do y’all have suggestions or guidance on how the collector repo handles licensing checks & general licensing? We could use some help maturing our story here

[2022-07-27 13:24] ahayworth commented on #55
@cartersocha since I can't check off the boxes myself, here's what could be updated right away:
- ✅ `Automatic Instrumentation is being used where appropriate.`
  - The demo installs automatic instrumentation for Sinatra in [the configuration block](https://github.com/open-telemetry/opentelemetry-demo/blob/main/src/emailservice/email_server.rb#L9-L11). Because the ruby app is so simple, there's re

[2022-07-27 13:27] ahayworth commented on #55
It occurs to me that one interesting way to make the ruby service exhibit some of the desired behaviors would be to over-complicate it with a job queue. 🤣

...I think that actually might be a good idea. Are there any concerns with that? Conceptually it would be over-complicated, but the actual code to implement it would be rather simple and straightforward. We could more easily demonstrate context

[2022-07-27 16:02] xoscar commented on #39
Hello everyone, I just opened the PR with the updated changes for the frontend https://github.com/open-telemetry/opentelemetry-demo/pull/236

[2022-07-27 16:55] lalitb commented on #52
@DebajitDas  - Do you have plans to take this further?

[2022-07-27 18:04] cartersocha commented on #55
Good questions. I'd suggest posting the queue question in the slack channel to get a broader discussion. Sounds interesting to me

[2022-07-27 18:06] cartersocha commented on #55
@austinlparker, @puckpuck, what are yalls thoughts on our context propagation requirement. Should we simplify to just creating a new span based off an existing span? (inside service context prop). The instrumentation libraries already have automatic context propagation covered in my mind & connect the services

[2022-07-27 18:30] marcalff commented on #52
Please note that opentelemetry-cpp contains recent changes that have some impact on the C++ demo here.

# SDK builders

[TRACE SDK] Add trace sdk builders (#1393) https://github.com/open-telemetry/opentelemetry-cpp/pull/1471

This change provides a new set of API to use to configure the SDK.

Code similar to:

[code]

creates issues with shared libraries, and is to be avoided.

Instead, please use

[2022-07-27 22:52] #49 closed

[2022-07-27 22:52] #70 closed

[2022-07-27 22:52] cartersocha commented on #70
Closing until front end is overhauled

[2022-08-01 04:24] JaredTan95 opened #243 "support inject `agent/sidecar` through opentelemetry-operator annoatatons."
# support inject `agent/sidecar` through opentelemetry-operator annoatatons.

I found we packaged `otel agent jar` into docker images, and set default `jvm` options.

https://github.com/open-telemetry/opentelemetry-demo/blob/main/src/adservice/build.gradle#L103
https://github.com/open-telemetry/opentelemetry-demo/blob/main/src/adservice/Dockerfile#L32

But ,I think this way maybe couldn't works we

[2022-08-01 06:56] DebajitDas commented on #52
Yes @lalitb, I will be looking into this. I am assigning it to myself

[2022-08-02 04:28] echuang81 commented on #77
Hi expert, I have the same issue when building the adservice from Windows.if changing ending character can solve the problem, which gradle file is related to do ? I can help to test

[2022-08-02 05:07] cartersocha commented on #77
@echuang81 check out the last comment on this stackoverflow post. It worked for me. https://stackoverflow.com/questions/70844518/cant-run-gradle-wrapper-with-docker-build

[2022-08-02 05:08] cartersocha commented on #77
Also try this if you haven’t yet: https://github.com/open-telemetry/opentelemetry-demo#gradle-update-windows-only

[2022-08-02 13:36] echuang81 commented on #77
Hi @cartersocha, thanks for your guidance. I tried re-clone with configuration autocrlf input set, as well as converting EOL to LF only character. Unfortunately, both also not working. hmm......

[2022-08-02 19:30] lalitb commented on #52
@cartersocha - Can you assign this to @DebajitDas please? Thanks.

[2022-08-02 19:59] lalitb commented on #52
Adding my comments on the feature list in the description

- Automatic Instrumentation is being used where appropriate. : Nothing to be done as automatic instrumentation is not available for C++
- Library instrumentation is being used if automatic instrumentation is unavailable. : Nothing to be done as automatic instrumentation is not available for C++
- Services extend automatic instrumentation.

[2022-08-02 20:55] cartersocha commented on #52
updated @lalitb. For baggage we're waiting for the new frontend to be merged then that will start the baggage process.

Seems like the only other missing piece besides baggage & documentation updates is: " Demonstrate Span::AddEvent and Span::SetAttribute by adding new(random) events and attributes ( if not done already).??

[2022-08-02 21:03] lalitb commented on #52
Yes, that's correct, apart from the two changes I mentioned separately.

[2022-08-02 21:49] cartersocha opened #249 "add kubernetes / helm chart support to documentation"
Hey @wph95 could you link to the otel demo helm chart and write a short blurb in our docs on how to get started?

[2022-08-02 21:50] cartersocha commented on #249
Let's make a changelog entry to call out adding kubernetes support too

[2022-08-02 22:52] mic-max opened #251 "Container Disk Size"
The last 2 columns from running the command `docker container ls -s`
I've italicized the containers that are not created by this repository.

[code]

We can use this issue to track the image sizes as the demo project progresses and so we can see what containers and using the most storage.

[2022-08-03 01:04] #243 closed

[2022-08-03 04:21] puckpuck opened #252 "[currencyservice] - docker build takes more than 15 minutes"
Running `docker compose build` takes more than 15 minutes just for the currency service using a 2019 MacBook Pro. Docker resources are set to 8 CPUs and 8 GB of RAM. The build time seems to be on the excessive side.

Can we find a way to significantly reduce the build times for this service which is created in C++?

To replicate: build with the `--no-cache` option and observe the currencyservice b

[2022-08-03 04:56] wph95 commented on #252
Incidentally, I don't see very long build times on the github action (probably because of the high number of machine cpu/mem)
https://github.com/open-telemetry/opentelemetry-demo/runs/7221028577

// We plan to update the documentation this week. This will include how to use pre-built docker images so that you can use them without local builds

[2022-08-03 06:05] #195 closed

[2022-08-03 14:44] austinlparker commented on #228
per https://github.com/open-telemetry/community/issues/1119#issuecomment-1195284332, we don't need to actually enable it, we can just upload reports with the action? @cartersocha

[2022-08-03 17:03] cartersocha commented on #228
Thanks Austin! @mic-max could you take a look at integrating our new service tests into [this action](https://github.com/marketplace/actions/codecov)?

[2022-08-03 19:54] wph95 opened #256 "Optimize README.md to make it more friendly for beginners."
## Current issues.
I personally feel that the current documentation quickstart section is not simple enough and not clear enough.
git clone to local, and then build the image locally. The threshold for this operation is high. Not "quick" enough

## Solution.
We've done a lot of things to optimize deployment. But we don't reflect it in the documentation. A possible solution.

[code]

Also, in the d

[2022-08-03 19:57] cartersocha commented on #256
I like the idea of reducing the readme content. It feels like a block of content today.

The kubernetes section in my pr is fairly simple. If we match the docket instructions then that might be one potential improvement.

I’m open to standalone docs too

[2022-08-03 19:58] cartersocha commented on #252
FYI @lalitb , @DebajitDas

[2022-08-03 20:32] lalitb commented on #252
gRPC builds take time, and would take ~70% of currency-service build time. We can have the prebuilt gRPC library stored somewhere in cloud/registry and use it for currency-service docker build. But better to provide pre-built docker image for currency-service and as I understand, it is already planned.

[2022-08-03 20:45] cartersocha commented on #249
https://github.com/open-telemetry/opentelemetry-demo/pull/255

[2022-08-03 20:45] #249 closed

[2022-08-03 23:25] puckpuck opened #257 "Port bindings for webstore services"
I just got this after running `docker compose up`
[code]

Turns out port 7000 is used by MacOS for AirPlay.  The same port we have the currency service binding to.

I think it makes sense we only use ports in the dynamic range (49151 - 65535) for each service in the demo. Things like the Otel collector, Grafana, Prometheus, etc should stay where they are, but the webstore services should be bindin

[2022-08-04 03:44] #174 closed

[2022-08-04 05:41] cartersocha commented on #257
Interesting issue. Thanks for bringing this up. @mic-max fyi 🦞

[2022-08-04 09:06] mviitane commented on #256
I agree the README is a bit long and complex, and the Kubernetes part makes it even longer&more complex. The Kubernetes description also has the limitation that it currently doesn’t cover even the basic option (port-forward) to expose the frontend. ⇒ The deployment part can get even longer in the future.

I think splitting the deployment options into separate sub-pages would be a great improvement

[2022-08-05 02:18] puckpuck opened #261 "Review and enhance tracing support for recommendation service (Python)"
The following is a list of requirements that we need to evaluate before declaring v1 for trace telemetry. These requirements are across the entire application; Not all services will meet all requirements. Determine the relevant features for this service.

- [x] Automatic Instrumentation is being used where appropriate.
- [ ] Library instrumentation is being used if automatic instrumentation is una

[2022-08-05 03:28] cijothomas opened #263 "Missing pre-requisites"
Prerequisites does not list installing Java. But following https://github.com/open-telemetry/opentelemetry-demo#gradle-update-windows-only step, it fails saying no Java found.

C:\repos\opentelemetry-demo\src\adservice>gradlew

ERROR: JAVA_HOME is not set and no 'java' command could be found in your PATH.

Please set the JAVA_HOME variable in your environment to match the
location of your Java ins

[2022-08-05 05:44] cartersocha opened #267 "Improve vendor fork experience"
Vendors need proper documentation and repo improvements to ensure their forks aren't difficult to maintain.

[2022-08-05 12:02] mviitane opened #268 "[payment-service] - bind: address already in use"
# Bug Report

## Which version of the demo you are using?

Using main latest
8e8674f585a8acdbeee09050951f9fd2c6a908a7

Running on Ubuntu 22.04 LTS, x86_64

## Symptom

payment-service won't start with docker-compose.

[code]

## Additional Context

Possibly related to the recent port change #248

[2022-08-09 03:46] puckpuck opened #274 "[featureflag] - OTLP export endpoint is hardcoded"
# Bug Report

## Symptom

The OTLP exporter has the endpoint hardcoded instead of relying on the OpenTelemetry environment variable.
See here: https://github.com/open-telemetry/opentelemetry-demo/blob/main/src/featureflagservice/config/runtime.exs#L23
[code]

**What is the expected behavior?**

Should use the `OTEL_EXPORTER_OTLP_TRACES_ENDPOINT` to configure traces export

[2022-08-09 17:16] Tiagodge opened #278 "HTTP Status: 500 Internal Server Error"
# Bug Report

I installed the open telemetry-demo on my OpenShift Cluster and I am receiving this 500 Server Error. Once I am not running locally I needed to create a load balancer to connect externally.

Browser error trying to access the page:

rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 172.21.79.231:8080: connect: connection refused"
c

[2022-08-09 22:17] #39 closed

[2022-08-10 01:45] puckpuck opened #279 "[featureflag] - Dockerfile should build protobuf modules"
# Feature Request

Update Dockerfile to build artifacts similar to how other services are built.

- [ ] Use the top-level build context, updating paths in Dockerfile accordingly
- [ ] Copy the top-level demo.proto file into the appropriate build location
- [ ] Run `rebar3 grpc gen` as part of the build

cc @tsloughter

[2022-08-10 02:04] puckpuck opened #280 "Clean up manual span attributes and names"
We have (nearly) all services instrumented with manual span attributes. As the number of span attributes grew with contributions from different people and at different times, we have introduced some deviation in the attribute names and intent. This issue is meant to track updating attributes across all services.

- [x] Remove unnecessary attributes that would not provide value in the service used

[2022-08-10 02:07] #274 closed

[2022-08-10 06:25] #257 closed

[2022-08-10 15:27] xoscar opened #282 "[ProductCatalogService/Frontend] Update Product Service Catalog Data to Match Astrology store"
As we are moving away from the original webstore theme to match the open telemetry astrology overall theme. We need to update the product catalog service data to have products that match an astrology webstore.

We can add a variety of products like:
1. Telescopes.
2. Accessories.
3. Lenses.
4. Etc.

[2022-08-10 15:33] xoscar opened #283 "[Frontend] Implement Frontend instrumentation"
As we have merged the reimplementation changes for the frontend client. As a fast follow we need to start working on adding instrumentation to both the browser and server sides.

The base requirements are described here: https://github.com/open-telemetry/opentelemetry-demo/blob/main/docs/requirements/opentelemetry-requirements.md

And it should match the description from the initial frontend propo

[2022-08-10 15:39] xoscar opened #284 "[Frontend] Add Tests to Frontend"
As a fast follow after the initial FE implementation, we want to ensure the basic flows for the webstore are covered by e2e tests, components, key logic should have unit tests and as a stretch goal we should have a plan to include trace validations.

The implementation of these suites tests needs to match the proposal:
![Screen Shot 2022-08-10 at 10 39 25 a m](https://user-images.githubusercontent

[2022-08-10 15:46] Frapschen commented on #66
The newest implementation instrumentation for the `runtime` package is in process, waiting for its finish.

[2022-08-11 15:52] joshleecreates commented on #77
What is the state of this issue? I'm receiving the same error as @cijothomas while building in a clean ubuntu vm.

[2022-08-12 04:23] #268 closed

[2022-08-12 04:26] cartersocha commented on #77
I've solved this multiple times on my surface windows 11 by following these instructions. Not sure what others are encountering. I believe it's the file ending character causing problems but unsure how to fix for all or if that's the only problem.

I clone the repo, run docker compose build, it fails, change the gradlew that has no file ending by following below steps, then run docker compose buil

[2022-08-12 05:23] cartersocha commented on #256
@wph95 do you still have the time to work on this?

[2022-08-12 10:21] mviitane opened #294 "[featureflag] UI fails to load on M1 Mac - (Postgrex.Error) ERROR 42P01 (undefined_table) relation "featureflags" does not exist"
# Bug Report

## Which version of the demo you are using?
main/latest
commit 1a4698f958622a798122fda3ac532938c6a93128

## Environment:
Kernel Version 21.6.0
RELEASE_ARM64_T6000 arm64
Docker Desktop 4.8.1

## Symptom

Feature flag UI doesn't load: "Internal Server Error"
http://localhost:8081/

Each reload produces the following log:
[code]

## Reproduce

$ docker compose up
http://localhost:8081/

[2022-08-13 12:12] zgq25302111 opened #299 "error docker-compose up"
# Bug Report

Which version of the demo you are using? (please provide either a specific
[commit
hash](https://github.com/open-telemetry/opentelemetry-demo/commits/main)
or a specific
[release](https://github.com/open-telemetry/opentelemetry-demo/releases)).

## Symptom

run error when commond:docker-compose up
desc:
ERROR: Version in "./docker-compose.yml" is unsupported. You might be seeing this

[2022-08-15 02:26] Frapschen opened #300 "Can we have a new release?"
# Question

After the last release, we have made many changes,  can we have a new release or have a schedule for it?

[2022-08-15 07:31] mviitane commented on #299
Hi @zgq25302111, you could check your docker compose version. It could be that you're running too old docker compose to support docker-compose.yml file version 3.9.

[2022-08-15 15:31] austinlparker opened #301 "Create migration for feature flags introduced by #245"
#245 introduces a new feature flag and needs a migration in the FF service set up to create it on launch.

[2022-08-15 15:51] austinlparker commented on #300
There's a few in-flight PRs we need to land about the frontend and loadgen, after that we can cut 0.3

[2022-08-15 17:57] cartersocha commented on #77
We discussed this in the sig meeting today.

Was the resolution adding a comment to the gradlew file or EOF character or something else? @puckpuck

[2022-08-15 20:01] GaryPWhite commented on #83
on it 🖖

[2022-08-16 00:13] #284 closed

[2022-08-16 04:57] #52 closed

[2022-08-16 05:35] cartersocha commented on #77
@echuang81 , @joshleecreates 90% chance it's a file ending issue. Please try [this](https://stackoverflow.com/a/71827011) solution or this [one](https://stackoverflow.com/a/72360107) and report if either works!

[2022-08-16 07:36] mviitane opened #305 "Cypress e2e tests fails to start"
# Bug Report

## Which version of the demo you are using?
main/latest
commit bbf842581a9e99ac4475b760f89796b460c5de67

## Symptom

[code]

[code]

**What do you expect to see?**

It seems there are some prerequisites in order to get these tests running.

@xoscar I propose to add simple documentation into test/README.md to cover the possible prerequisites and also to include the actual commands to

[2022-08-16 15:15] xoscar commented on #305
Hey @mviitane thanks for taking a look. I'll be working on this today

[2022-08-17 14:51] cartersocha opened #313 "Collector config for helm chart"
The collector should be configurable for different backends in the OTel demo helm chart.

Reference: https://github.com/open-telemetry/opentelemetry-demo/pull/311

[2022-08-17 14:53] #283 closed

[2022-08-17 15:15] cartersocha commented on #153
There’s a helm chart you can start with already available @xoscar. Check the main readme

[2022-08-18 00:33] cartersocha commented on #77
Closing as this has now been solved to our knowledge. https://github.com/open-telemetry/opentelemetry-demo/blob/main/docs/docker_deployment.md#windows-pre-requisites

[2022-08-18 00:34] #77 closed

[2022-08-18 04:22] puckpuck commented on #294
This was fixed by #315

[2022-08-18 04:22] #294 closed

[2022-08-18 17:17] Mwad22 opened #320 "Providing greater control over the loadgenerator"
# Feature Request

Providing greater control over the loadgenerator.

**Is your feature request related to a problem?**

Currently, there is not much control given to the user over the loadgenerator beyond being able to change the number of `USERS` via an environment variable. No simple way to control the loadgenerator, and locust web UI is specifically disabled via `--headless` flag at docker ent

[2022-08-18 18:11] puckpuck commented on #320
This was fixed in #316

[2022-08-18 18:11] #320 closed

[2022-08-18 19:11] #301 closed

[2022-08-19 01:53] #282 closed

[2022-08-19 17:01] austinlparker opened #323 "Release tag not being picked up by build"
While releasing 0.3.0 we discovered that the release tag was not properly being inserted as the image tag (0.3.0 built as 0.1.0) -- this was temporarily worked around by updating the .env file, but it worked correctly for 0.2.0, so something here needs investigation.

[2022-08-19 17:01] austinlparker commented on #300
0.3.1 is currently being built + pushed.

[2022-08-19 17:01] #300 closed

[2022-08-19 20:46] wph95 commented on #323
https://docs.docker.com/compose/environment-variables/

<img width="1194" alt="截屏2022-08-19 13 45 41" src="https://user-images.githubusercontent.com/2732352/185704501-ca8f2b97-5221-4880-8f6d-0454046993d5.png">

yeah it's very strange

[2022-08-19 21:46] #323 closed

[2022-08-22 10:23] mviitane commented on #299
Issue to be closed as can't be reproduced?

[2022-08-22 12:26] julianocosta89 opened #327 "[Frontend] - Improvement"
# Feature Request

At the moment there are a couple of things in the Frontend that looks broken, even though they are working as expected.
I'll list it here and maybe we could work on improving it as we go:

- [ ] No logo.
- [ ] Product images are cropped.
- [ ] When an order is completed, the user should get the order ID in the frontend.
- [ ] Whenever more than 1 product is bought, the checkout

[2022-08-22 13:01] tsloughter opened #328 "[featureflag]: flag name and status on spans"
# Feature Request

The name of the flag and its current status should be added as attributes to spans in the FeatureFlagService.

[2022-08-22 13:18] julianocosta89 commented on #278
Hello @Tiagodge, could you try again with the new released version?

[2022-08-22 15:33] austinlparker commented on #100
`synthetic_request` should be extracted in paymentservice and added to span attributes.

[2022-08-22 15:36] austinlparker opened #329 "Load Generator needs to set baggage"
- [ ] Load Generator should set a baggage item named `synthetic_request` (see #100)

[2022-08-22 15:37] austinlparker opened #330 "Payment Service needs to extract baggage"
- [ ] The payment service should extract the `synthetic_request` baggage item and add it as a span attribute.

[2022-08-22 18:19] Tiagodge commented on #278
Hello @julianocosta89 , I just tried and I continue to receive a crashloopbackoff on my-otel-demo-cart-service-855db6779c-ngrlt :

I removed the old one:
# helm repo remove open-telemetry

And installed again:
# helm repo add open-telemetry https://open-telemetry.github.io/opentelemetry-helm-charts
# helm install my-otel-demo open-telemetry/opentelemetry-demo

The error:

1 Connecting to Redis: my

[2022-08-23 01:14] #299 closed

[2022-08-23 01:14] zgq25302111 commented on #299
ok

[2022-08-23 12:01] fatsheep9146 commented on #278
Could your check the status of the redis service?

[2022-08-23 16:52] Tiagodge commented on #278
Yes @fatsheep9146 , Redis is running and opened for connections:

my-otel-demo-redis-844988fcfb-5m2pb

1 1:C 22 Aug 2022 18:05:40.990 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
2 1:C 22 Aug 2022 18:05:40.990 # Redis version=7.0.4, bits=64, commit=00000000, modified=0, pid=1, just started
3 1:C 22 Aug 2022 18:05:40.990 # Warning: no config file specified, using the default config. In order to

[2022-08-24 02:59] puckpuck commented on #330
#335 sets the value of the `app.payment.charged` attribute to true/false based on the baggage item.

[2022-08-24 02:59] #330 closed

[2022-08-24 03:02] puckpuck commented on #280
These were resolved with PRs: #333, #334, #335, #336, #337, and #338

[2022-08-24 03:02] #280 closed

[2022-08-24 03:07] puckpuck commented on #327
Logo updated with #340

[2022-08-24 14:34] #329 closed

[2022-08-29 15:23] #83 closed

[2022-08-29 15:46] GaryPWhite opened #346 "ShippingService should check FeatureFlagService if shipping outside the US takes a while"
# Feature Request

**Is your feature request related to a problem?**

Request came from weekly meetings.

We'd like to add a feature where the ShippingService delays on any shipping outside the US -- based on a feature flag.
A TrackingID request (now very simple) would add checking against the FeatureFlagService for a specific flag (which?) that would indicate that ShippingService should sleep(10)

[2022-08-31 05:28] julianocosta89 opened #349 "cache export feature is currently not supported for docker driver"
# Bug Report

Which version of the demo you are using?
3ccd221fafefdb3c8b3fdcc302ad03ed5dca1f6f.

## Symptom

Since merge of #304 I can't run the project anymore.
Whenever trying to start the project I'm getting this error:
`"cache export feature is currently not supported for docker driver. Please switch to a different driver"`

**What is the expected behavior?**

I expect to run `docker compose

[2022-08-31 05:57] cartersocha commented on #349
https://github.com/open-telemetry/opentelemetry-demo/pull/350 temporarily fixed

[2022-09-08 20:18] cijothomas commented on #263
Closing. As gradle update is no longer part of the instructions.

[2022-09-08 20:18] #263 closed

[2022-09-08 20:20] cijothomas commented on #77
=> ERROR [ghcr.io/open-telemetry/demo:v0.3.4-adservice builder 6/7] RUN ./gradlew downloadRepos                                                       0.9s
 => CANCELED [ghcr.io/open-telemetry/demo:v0.3.4-featureflagservice builder  1/18] FROM docker.io/hexpm/elixir:1.13.3-erlang-25.0-debian-bullseye-202  0.9s
 => => resolve docker.io/hexpm/elixir:1.13.3-erlang-25.0-debian-bullseye-20210902-slim@sh

[2022-09-08 20:44] cijothomas commented on #77
My bad. It does work with the newest instruction. I missed the part about "delete and re-clone the repo".

[2022-09-08 20:47] cartersocha commented on #77
All good :) glad we got this fully closed!

[2022-09-09 18:27] saurabhdes opened #358 "Frontend service is actually written in Typescript , but the docs say Javascript"
# Bug Report

Which version of the demo you are using?
[commit hash](https://github.com/open-telemetry/opentelemetry-demo/commit/9c64b4ab3b2d0b79e5254a8d03a61e478ecb05dc)

## Symptom

Files with code in [frontend directory](https://github.com/open-telemetry/opentelemetry-demo/tree/main/src/frontend) directory end in .ts - implying Frontend service is actually written in Typescript. But the docs sa

[2022-09-09 22:29] reyang opened #359 "Observability during deployment"
# Feature Request

The current demo seems to focus on observability when everything is already up and running.
I feel it might be important (and also cool) to be able to observe the system during setup, deployment or even decommission.

For example, maybe during the `docker compose up`, the 1st service to start is actually the UI (maybe Grafana or Kibana), which we can use to easily tell:
1. Which

[2022-09-12 15:49] dineshg13 opened #360 "[Demo] Adservice & Recommendation Service not getting any traffic"
# Bug Report

Which version of the demo you are using?  Latest version
## Symptom

With changes in frontend service, adservice & recommendation service stopped receiving traffic.

**What is the expected behavior?** Traffic to these service either from frontend or load generator

**What do you expect to see?** Traces from adservice & recommendation service

**What is the actual behavior?** No traff

[2022-09-12 22:22] philkuz commented on #148
Hi I'm Phillip, one of the Pixie maintainers. We would love to prototype this out if the community is interested!

[2022-09-14 03:44] Frapschen opened #364 "[featureflag] featureflag failed to start"
# Bug Report

Which version of the demo you are using?

0.3.4-alpha

## Symptom

I use helm to install the demo, the featureflag service failed to start and print this logs:
[code]

env:
kube version: v1.21.5
os: Linux 3.10.0-1160.6.1.el7.x86_64

[2022-09-14 03:56] Frapschen opened #365 "[loadgenerator] loadgenerator doesn't sent requsets to other service"
# Bug Report

Which version of the demo you are using?
0.3.4-alpha

## Symptom
I use helm to install the demo, the loadgenerator service start sucessfully, but it doesn't sent requsets to other service, the only logs I get are:
[code]

env:
kube version: v1.21.5
os: Linux 3.10.0-1160.6.1.el7.x86_64

[2022-09-14 04:08] #349 closed

[2022-09-14 04:56] julianocosta89 commented on #364
@puckpuck I believe that is the same issue @mviitane mentioned in the #362

[2022-09-14 13:58] puckpuck commented on #364
🤔 I wonder if the 0.3.4-alpha feature flag service image we released is correct. WTAL.

[2022-09-14 23:06] mic-max commented on #358
Hello, yes, I believe there was a decision made to say JavaScript here instead of, yes, the more accurate TypeScript. IIRC it was because the actual OTel library is for JavaScript and the example should still apply mostly to JavaScript developers despite some syntax differences.

[2022-09-14 23:06] #358 closed

[2022-09-15 19:09] saurabhdes opened #367 "docker compose up --no-build command fails with error on Mac"
# Bug Report

Which version of the demo you are using?
Latest commit from main branch

## Symptom

Unable to launch the App after running `docker compose up --no-build` on my Local Mac.
I get error message **Error response from daemon: manifest unknown**

**What is the expected behavior?**
All the docker containers of respective demo services should get started

**What is the actual behavior?**

W

[2022-09-16 05:04] saurabhdes commented on #367
After more investigation i found the issue is because of newly added `quoteservice`. Which lacks a cache_from section like below

cache_from:
        - ${IMAGE_NAME}:${IMAGE_VERSION}-quoteservice

But adding the above to docker compose doesn't solve the problem because the image is not yet pushed to ghcr.io

@julianocosta89 - Since you added the quoteservice recently, is it possible for you to pus

[2022-09-16 17:15] cartersocha commented on #367
@austinlparker please help on this and share with the other maintainers / approvers on how to do version releases on slack

[2022-09-16 17:16] cartersocha commented on #367
I’m assuming as part of the version upgrade we have a couple places in the code to update for the new version number too. Unless we addressed that problem

[2022-09-16 17:17] austinlparker commented on #367
I believe any maintainer can do a release, you just click the new release button in GitHub. I'm traveling today but can do one later this evening if you don't get to it first.

[2022-09-16 17:18] austinlparker commented on #367
I believe any maintainer can do a release, you just click the new release button in GitHub. I'm traveling today but can do one later this evening if you don't get to it first.

[2022-09-16 17:28] cartersocha commented on #367
I think I just released v0.4.0! I just followed the previous release examples

@julianocosta89 When we integrate the service we can bump it a minor version.

[2022-09-16 17:59] GaryPWhite commented on #349
@puckpuck are we worried at all about the `export` feature failing? I assumed from conversations / this chat that we wanted to have the `cache_to` (export) feature working to resolve this issue.

[2022-09-16 18:09] #360 closed

[2022-09-16 22:00] #367 closed

[2022-09-17 22:21] wph95 commented on #365
hi @Frapschen
this bug should fixed :)
plz try again.
ref: https://github.com/open-telemetry/opentelemetry-helm-charts/pull/361

[2022-09-17 22:21] #365 closed

[2022-09-19 15:51] austinlparker opened #376 "Which languages have RC/beta metric instrumentation available?"
Per discussion at SIG meeting, which languages have support for metric instrumentation that we are not using at this point?

[2022-09-19 16:38] #328 closed

[2022-09-20 03:48] cartersocha opened #381 "recommendation service failing to start"
Getting a weird error on the above mentioned service. Seems to be a protobuf issue

"Traceback (most recent call last):
  File "/usr/src/app/recommendation_server.py", line 28, in <module>
    from opentelemetry.exporter.otlp.proto.grpc.trace_exporter import OTLPSpanExporter
  File "/usr/local/lib/python3.10/site-packages/opentelemetry/exporter/otlp/proto/grpc/trace_exporter/__init__.py", line 22,

[2022-09-20 06:55] mviitane commented on #381
I'm running the latest version, but can't reproduce this problem.

[2022-09-20 20:53] #381 closed

[2022-09-23 05:19] pichlermarc opened #383 "Pass temporality preference environment variable though to services"
# Feature Request

**Is your feature request related to a problem?**

At this point in time, the demo cannot be easily adapted to export delta metrics instead of cumulative. Once more metrics are being added this might make the demo more difficult to use for people that want to try out different backends.

**Describe the solution you'd like:**

It would be great to have the `OTEL_EXPORTER_OTLP_MET

[2022-09-26 22:53] cartersocha commented on #383
@puckpuck could this help with the JavaScript issue too?

[2022-09-26 22:54] cartersocha commented on #383
Ah nevermind but this would be nice to have @pichlermarc

[2022-09-27 04:54] pichlermarc commented on #383
Alright, then I'll start working on this :slightly_smiling_face:

[2022-09-29 16:21] #383 closed

[2022-09-29 22:17] cijothomas commented on #376
.NET has some. Adding one here : https://github.com/open-telemetry/opentelemetry-demo/pull/393
Will add more as future PRs. (I am just new to the repo learning the practices here...)

[2022-09-29 22:19] cijothomas commented on #223
Logging is done with plain Console log statements. It should be using the Logging API. I can make a small PR attempt...

[2022-09-29 23:23] #177 closed

[2022-09-30 07:32] puckpuck opened #395 "List of currencies should be alphabetical"
# Feature Request

**Is your feature request related to a problem?**

The list of currencies in the UI of the app is not alphabetical, making it hard to find the currency you desire.

**Describe the solution you'd like:**

Sort the list of currencies rendered in the UI.

[2022-10-02 01:25] saurabhdes opened #396 "FeatureFlagService fails to run on Mac M1 Pro"
# Bug Report

Which version of the demo you are using? (please provide either a specific
Latest `main` or
[b6e75ee](https://github.com/open-telemetry/opentelemetry-demo/commit/b6e75ee44cc41bb8315e5e116cc1ac4807ef5e1d)

## Symptom

**What is the expected behavior?**

FeatureFlag UI loads on going to http://localhost:8081/ so we can turn on different feature flags

**What is the actual behavior?**

[2022-10-03 16:15] henrikrexed opened #397 "Update the frontend service to use 2 different exporters ( Client & Backend)"
# Feature Request
Once the Demo is deployed, the browser is trying to send spans to localhost ( or the collector address).
To make it more realistic all the client side spans need to be sent to a specific url.

**Describe the solution you'd like:**

i have tried to resolve this  by creating a new Environment variable for the Frontend code  :
-> FrontendTracer.ts :
 const provider = new WebTracerPr

[2022-10-03 17:25] joshleecreates opened #398 "featureflagservice database migrations fail in kubernetes"
# Bug Report

Which version of the demo you are using? (please provide either a specific
[b6e75ee](https://github.com/open-telemetry/opentelemetry-demo/commit/b6e75ee44cc41bb8315e5e116cc1ac4807ef5e1d)

## Symptom

When using the helm charts to deploy to k8s, the featureflagservice fails to run it's migrations because it does not wait for the postgres pod to be ready.

**What is the expected behavi

[2022-10-05 23:57] puckpuck commented on #398
I wonder if we can have the entire process fail on error, and leverage container restart policies in docker/kubernetes instead. @tsloughter is this something we can have Elixir do?

[2022-10-06 13:49] gbbr opened #403 "Container information not sent by demo apps"
# Feature Request

Would it make sense to add [container information](https://pkg.go.dev/go.opentelemetry.io/otel/sdk@v1.10.0/resource#WithContainerID) to the demo apps? I have noticed in [current apps](https://github.com/open-telemetry/opentelemetry-demo/blob/main/src/checkoutservice/main.go#L73) that no resource information of any kind is added. Is there a reason for this? Would it be ok to add

[2022-10-06 18:57] #398 closed

[2022-10-06 20:29] cartersocha commented on #56
Tracing is code complete

[2022-10-06 20:29] #56 closed

[2022-10-06 20:29] cartersocha commented on #261
Tracing is code complete

[2022-10-06 20:29] #261 closed

[2022-10-06 20:29] cartersocha commented on #235
Tracing is code complete

[2022-10-06 20:29] #235 closed

[2022-10-06 20:29] cartersocha commented on #58
Tracing is code complete

[2022-10-06 20:29] #58 closed

[2022-10-06 20:29] cartersocha commented on #57
Tracing is code complete

[2022-10-06 20:29] #57 closed

[2022-10-06 20:30] cartersocha commented on #55
Tracing is code complete

[2022-10-06 20:30] #55 closed

[2022-10-06 20:30] cartersocha commented on #53
Tracing is code complete

[2022-10-06 20:30] #53 closed

[2022-10-06 20:30] cartersocha commented on #51
Tracing is code complete

[2022-10-06 20:30] #51 closed

[2022-10-06 20:30] cartersocha commented on #50
Tracing is code complete

[2022-10-06 20:30] #50 closed

[2022-10-06 20:36] cartersocha commented on #376
GA:
Dotnet
Java
Python (?) - unclear. Website says stable

RC:
Cpp
JavaScript

Beta:

Alpha:
Swift
Rust
Erlang
Go
PHP

No:
Ruby

[2022-10-06 20:36] #376 closed

[2022-10-06 20:37] cartersocha commented on #192
Hey we've implemented this now. Check our most recent docs

[2022-10-06 20:37] #192 closed

[2022-10-06 20:37] cartersocha commented on #153
Added support

[2022-10-06 20:37] #153 closed

[2022-10-06 20:37] julianocosta89 commented on #34
@austinlparker can we have that ticket closed?
I believe we do not need an admin service anymore, as PHP was covered in the Quote Service.

[2022-10-06 20:38] cartersocha commented on #162
We have 2 default flags present but not on by default. Closing for now. FYI @puckpuck

[2022-10-06 20:38] cartersocha commented on #107
Is this still needed? Closing for now

[2022-10-06 20:39] cartersocha commented on #34
Closing this!

[2022-10-06 20:39] cartersocha commented on #41
Done

[2022-10-06 20:39] #41 closed

[2022-10-06 20:39] julianocosta89 commented on #57
@cartersocha can we close this one?
The Admin service wasn't implemented but we have PHP as a Quote Service.
I've checked all that we have done in the Quote Service already.

Automatic Instrumentation is not available for PHP: https://github.com/open-telemetry/opentelemetry-php#auto-instrumentation

The only thing missing the Baggage, is that something we want to implement here?

[2022-10-06 20:39] cartersocha commented on #42
We are done on tracing!

[2022-10-06 20:39] #42 closed

[2022-10-06 20:39] cartersocha commented on #100
Defined and implemented. Closing this

[2022-10-06 20:39] #100 closed

[2022-10-06 20:40] cartersocha commented on #30
This is generally called out if we're NOT using gRPC. Closing for now. @julianocosta89 fyi

[2022-10-06 20:40] #30 closed

[2022-10-06 20:41] #252 closed

[2022-10-06 20:41] cartersocha commented on #256
Readme is cleaned up

[2022-10-06 20:41] #256 closed

[2022-10-06 20:42] cartersocha commented on #267
I think the main outstanding item here is configure the helm chart for new vendors.

FYI @joshleecreates, @austinlparker

[2022-10-06 20:45] cartersocha commented on #57
@julianocosta89 i think we’re good for v1. I just closed out a bunch of the issues and gave you a quick heads up on slack.
Baggage would be a nice to have but not essential imo

thanks for looking through these!

[2022-10-06 21:13] julianocosta89 commented on #102
AdService client was removed as wasn't being used in the demo.

[2022-10-06 21:13] #102 closed

[2022-10-06 21:18] julianocosta89 commented on #267
Do you mean documenting this?
https://cloud-native.slack.com/archives/C03B4CWV4DA/p1664974983694979

[2022-10-06 22:37] kodayashi opened #407 "Error: Cannot find module './Instrumentation.js' when running frontend service for local development"
# Bug Report

Which version of the demo you are using?

main (latest)

## Symptom

I'm trying to follow the README for running the frontend service locally. After running

docker compose run --service-ports -e NODE_ENV=development --volume $(pwd)/src/frontend:/app --volume $(pwd)/pb:/app/pb frontend sh

I get this error:

Error: Cannot find module './Instrumentation.js'
Require stack:
- internal/p

[2022-10-07 00:46] mic-max commented on #107
Yes. Ideally this file: https://github.com/open-telemetry/opentelemetry-demo/blob/main/pb/google/protobuf/timestamp.proto should not be part of this repository.

[2022-10-07 06:53] julianocosta89 commented on #407
Are you running the command from the root folder of the project?
I mean not in the `src/frontend` folder.

[2022-10-07 13:35] #31 closed

[2022-10-07 14:49] kodayashi commented on #407
@julianocosta89 - Correct, I'm running it from the root folder.

[2022-10-07 14:52] julianocosta89 commented on #407
Cool, just to be sure.
I'll try to reproduce.
Thanks for reporting it!

[2022-10-07 14:53] julianocosta89 commented on #407
I'm on the road ATM, I will take a look later.
Maybe @xoscar has an idea of what may be the root cause of that.

[2022-10-07 15:57] kodayashi commented on #407
Thanks @julianocosta89. @xoscar all I can tell at this point is that npm is being run in production mode as opposed to dev. In package.json, there's the requirement for ./Instrumentation.js in "start" (which is referenced in the error above)

"start": "node --require ./Instrumentation.js server.js"

Whereas "dev" in package.json is what we're looking to run from what I can tell as it has the corre

[2022-10-07 16:11] xoscar commented on #407
Oh I think it's because a change was made to move away from `CMD` in the frontend docker file to use `ENTRYPOINT` instead. And the problem with that is that it doesn't allow for command overwrite in this case when running the container it will always run `npm start` @julianocosta89 changes https://github.com/open-telemetry/opentelemetry-demo/pull/342/files

[2022-10-07 20:36] #305 closed

[2022-10-07 21:39] julianocosta89 commented on #407
Hey @xoscar I may need your help here.
We can still overwrite the `ENTRYPOINT` but I faced some issues with the next steps.

1st to overwrite the `ENTRYPOINT` we need the following command:
`
docker compose run --service-ports -e NODE_ENV=development --volume $(pwd)/src/frontend:/app --volume $(pwd)/pb:/app/pb --entrypoint sh frontend
`

Once we `sh` into the container we have the 1st issue:
The u

[2022-10-07 21:45] julianocosta89 commented on #407
Also, @puckpuck do you see any issue if we return the `frontend` to `CMD` instead of `ENTRYPOINT`.
I've tested locally and changing it back to `CMD`solves the issue.

[2022-10-07 22:00] cartersocha commented on #364
I think this was solved by @joshleecreates with an auto recreate of a failed container. https://github.com/open-telemetry/opentelemetry-demo/pull/402

[2022-10-07 22:00] #364 closed

[2022-10-07 22:02] cartersocha commented on #267
That link isn't redirecting properly for me so not sure. But at least have something like [this](https://github.com/open-telemetry/opentelemetry-demo/blob/main/docs/docker_deployment.md#bring-your-own-backend) documented for kubernetes

[2022-10-07 22:03] cartersocha commented on #267
I'd be curious if vendors would like more specific documentation around forking + maintaining too. Microsoft doesn't have a fork today so I don't have a lived perspective

[2022-10-07 22:05] cartersocha commented on #181
Closing for now. We can re-open if this is replicated on a current version

[2022-10-07 22:05] #181 closed

[2022-10-08 07:22] julianocosta89 commented on #267
What I meant to share was the comment on slack by @puckpuck showing how to use helm to deploy the demo and configure the collector to a specific vendor

[2022-10-08 19:50] joshleecreates commented on #267
I can take a first stab at documenting the fork process this week.

[2022-10-08 19:57] joshleecreates commented on #267
From my perspective the key part will be documenting the options available via custom a custom values file. That covers all of the use cases Instana will need for our fork.

[2022-10-09 21:53] janssenlima commented on #396
If you run `docker compose up --build` the image will be generated on your architecture and it will work. I went through this too and it's working.

[2022-10-09 23:37] saurabhdes commented on #396
@janssenlima That's correct and I am aware of it as well. It's a good workaround until this issue is resolved by building multi arch images that get pushed to ghcr as part of build pipeline.

[2022-10-10 13:12] puckpuck commented on #407
The only issue I see is consistency with the other services, which all use `ENTRYPOINT`

[2022-10-10 19:41] lalitb opened #423 "Add service doc for currencyservice"
# Bug Report

Documentation for currency service is missing here -
  https://github.com/open-telemetry/opentelemetry-demo/tree/main/docs/services

## Symptom

A clear and concise description of what the bug is.

**What is the expected behavior?**

Documentation should be available.

**What is the actual behavior?**

Documentation is missing.

## Reproduce

Look for the documentation here -
  https

[2022-10-10 19:41] lalitb commented on #423
Please assign it to me. Thanks.

[2022-10-10 20:58] reyang opened #424 "Consider moving away from Jaeger Exporter and using OTLP Exporter instead"
Jaeger has officially switched to recommend OTLP as the ingestion protocol. OpenTelemetry spec might consider aligning this effort https://github.com/open-telemetry/opentelemetry-specification/pull/2858.

[2022-10-10 22:01] #72 closed

[2022-10-11 05:00] julianocosta89 commented on #407
@puckpuck if consistency is the only issue, I'll go ahead and send a PR to use `CMD` as this solves the issue.

[2022-10-11 11:51] secustor opened #429 "feat: Add queue example to demo"
# Feature Request
Add a queue/message bus to this demo to demonstrate capabilites regarding async workflows.

**Is your feature request related to a problem?**

**Describe the solution you'd like:**

Add a RabbitMQ or Kafka instance to make use of an event driven architecture.
To show the usage, new microservices are needed.

One adapted application as producer and two as consumer should be enough

[2022-10-12 18:08] cartersocha commented on #267
Yeah that'd be great to get @joshleecreates

[2022-10-12 20:39] julianocosta89 commented on #407
Hello all, I've just sent a PR fixing this :)

[2022-10-12 21:48] julianocosta89 commented on #278
@Tiagodge is this issue still ongoing?
We had some new updates in the demo and in the Helm charts, would you mind taking a look again?

[2022-10-13 01:11] Tiagodge commented on #278
Yes, the issue was not fixed, sure. I will try the new one. But I am on vacation returning on oct 23

Thanks

[2022-10-13 06:24] #424 closed

[2022-10-13 17:23] #407 closed

[2022-10-14 14:57] austinlparker opened #446 "Create build automation to add release tag to appropriate locations"
When we cut a new release, we need to write and commit that info to the .env file.

[2022-10-15 01:26] cartersocha opened #450 "Review relevants docs before v1 release (services)"
services:
- [ ] ad service
- [x] cart service
- [ ] checkout service
- [x] email service
- [x] feature flag service
- [ ] payment service
- [ ] product catalog service
- [ ] shipping service
- [x] recommendation service
- [x] quote service
- [ ] load gen
- [ ] frontend

[2022-10-15 15:32] saurabhdes commented on #429
Great idea ! Kafka will be great as nowadays I see it used much more than RabbitMQ and others for messaging.

[2022-10-15 16:01] secustor commented on #429
I have started working on this.

[2022-10-17 15:29] austinlparker opened #458 "Produce multi-arch/platform images and improve build times."
To address #396

[2022-10-17 15:30] cartersocha commented on #395
I think this was added.

[2022-10-17 15:33] austinlparker commented on #251
Removing bug label as this does not block 1.0

[2022-10-17 15:34] austinlparker commented on #278
This is non-blocking for 1.0

[2022-10-17 15:57] austinlparker opened #459 "Docker container metrics"
Explore setting up docker container metrics via otel receiver for 1.0

[2022-10-18 12:19] #446 closed

[2022-10-18 19:53] julianocosta89 commented on #395
It wasn't actually @cartersocha

[2022-10-18 21:48] puckpuck commented on #395
#448 did solve this. I should of referenced in in the PR.

[2022-10-18 21:48] #395 closed

[2022-10-19 05:38] julianocosta89 commented on #395
Oh sorry... I've missed that one!

[2022-10-19 05:39] cartersocha commented on #395
Nbd! I should’ve referenced the pr when I closed this but I remembered merging it

[2022-10-19 06:02] cartersocha commented on #458
If possible it'd be nice to have this by the 1.0 release on friday but nbd if you don't have the bandwidth

[2022-10-19 06:02] cartersocha commented on #458
@JaredTan95

[2022-10-19 06:03] cartersocha commented on #397
@xoscar could you potentially take a look at this?

[2022-10-19 06:05] cartersocha commented on #267
Thanks for taking care of this Josh!

[2022-10-19 06:05] #267 closed

[2022-10-19 07:28] JaredTan95 commented on #458
Sorry, I'm afraid I won't be able to catch up on Friday... :-(

[2022-10-19 14:19] xoscar commented on #397
Yep, this is part of what we discussed two weeks ago about adding new env vars to the helm chart, I'll take a look!

[2022-10-19 23:25] austinlparker opened #495 "Create a release checklist"
This should go in CONTRIBUTING probably, or perhaps a new RELEASES doc?

Right now I believe the manual steps are:

Pre-Release
- Update .env file with release tag of next release

Post-Release
- Update Helm chart with new release version, bump Helm chart version.

[2022-10-20 03:17] austinlparker commented on #458
Reopening this -- after merging this in, release builds fail.

[2022-10-20 03:18] austinlparker commented on #458
@JaredTan95 could you take another look today?

[2022-10-20 03:18] austinlparker commented on #458
https://github.com/open-telemetry/opentelemetry-demo/actions/runs/3286470674/jobs/5414695123 is a link to a failed run

[2022-10-20 17:22] #220 closed

[2022-10-20 19:30] jpkrohling opened #503 "Add tempo as second tracing backend"
To demonstrate how to fan out data points to multiple destinations, it would be interesting to have a second distributed tracing backend in addition to Jaeger, such as Tempo.

[2022-10-20 19:31] jpkrohling commented on #503
If this is interesting, please assign this to me, as I'm working on this for a private demo.

[2022-10-20 20:57] julianocosta89 opened #506 "Frontend is not updating currency in product page and cart"
# Bug Report

Which version of the demo you are using? d44100d0390a227475928e38239db8cc628215cc.

## Symptom

Frontend is not updating currency symbol and value in product page and cart.

**What is the expected behavior?**

What do you expect to see?
When selecting a currency, I expect the frontend to show me the symbols and values of the products in the selected currency.

**What is the actual be

[2022-10-21 01:30] #397 closed

[2022-10-21 01:49] JaredTan95 commented on #458
I noticed a revert PR https://github.com/open-telemetry/opentelemetry-demo/pull/502, I found the failure issue and I will reopen PR after fixed it.

[2022-10-21 05:14] cartersocha opened #509 "Add hero scenario docs"
Memory cache leak needs to be documented and added to the docs readme + feature flag service doc

[2022-10-22 05:57] TylerHelmuth commented on #313
The demo helm chart now supports this. I believe this issue can be closed.

[2022-10-23 03:01] austinlparker commented on #509
This is closed by #515

[2022-10-23 03:24] cartersocha commented on #450
Reviews are mostly done

[2022-10-23 03:24] #450 closed

[2022-10-23 03:27] #509 closed

[2022-10-23 19:24] austinlparker commented on #506
Closed by #522

[2022-10-23 19:24] #506 closed

[2022-10-23 19:28] austinlparker opened #524 "Error in console when attempting to checkout through frontend"
# Bug Report

0.7.0-beta

## Symptom

When attempting to check out through the frontend, clicking the 'Place order' button causes the following:
[code]

Logs for frontend service:

[code]

Maybe this is just config related, but it seems like frontend server isn't able to connect to the payment service.

[2022-10-23 19:34] austinlparker commented on #524
It seems like this is due to the payment service failing to start.

[2022-10-23 20:38] austinlparker opened #526 "Frontend pages should have title rather than URL."
Currently the page title on the frontend is just the URL route; We should display proper ones instead.

[2022-10-24 18:50] #524 closed

[2022-10-24 23:33] zmccoy opened #539 "Grafana: Demo/OpenTelemetry Collector fails to load"
# Bug Report

v1.0.0

## Symptom

When navigating over to the Demo/OpenTelemetry Collector an error of  `Templating Failed to upgrade legacy queries Datasource ${DS_PROMETHEUS} was not found` pops up in the top right.   None of the graphs load.   I could be missing something silly that I should have been doing as well, but I've reproduced this twice in a row locally.

**What is the expected behavi

[2022-10-25 02:09] #193 closed

[2022-10-25 12:17] #539 closed

[2022-10-25 19:05] yurishkuro opened #542 "Suggestion: change docker-compose to use published images"
# Feature Request

I didn't find any issues with "publish" keyword, apologies if this is a dup.

As a way of making this demo more user-friendly, I recommend changing the top-level docker-compose file to load published Docker images instead of rebuilding the whole project. I suspect this whole thing can come up in a couple minutes, since the images are already published to registries (as far as I

[2022-10-26 04:48] saurabhdes commented on #542
Yes, my understanding is that this is what is recommended to new users as per https://github.com/open-telemetry/opentelemetry-demo/blob/main/docs/docker_deployment.md#run-docker-compose
And the whole app does startup in about 5 min if `docker compose up --no-build` is used.

[2022-10-26 11:13] julianocosta89 commented on #542
Hello @yurishkuro glad to have you here 🤩

As @saurabhdes mentioned when you use the `--no-build` flag you will be using the pushed images instead of rebuilding everything locally.

All suggestions are welcome, please let us know if anything else comes up!

[2022-10-26 12:26] yuxiaoba opened #544 "Checkout action is failed when deployed with istio"
# Bug Report

opentelemetry-demo v1.0

kubernetes v1.21.0

istio v1.12.1

## Symptom

I deploy demo with istio and inject sidecar into each service

[code]

When I click checkout button  in the UI, the operation has any react for the click.

The frontend has some error logs
[code]

The checkout service also has some error output
[code]

## Additional Context

When I deploy demo without sidecar inj

[2022-10-27 18:36] yurishkuro commented on #542
How about having this in the top-level README? It's the first thing people will look for.

[2022-10-28 05:17] julianocosta89 commented on #542
I'll re-open this issue to get more insights from the rest of the team.

[2022-10-29 02:23] yuxiaoba commented on #544
Sorry, I found it is not the bug of demo.  It is caused by istio configuration.

[2022-10-29 02:23] #544 closed

[2022-10-29 23:43] #423 closed

[2022-10-29 23:43] #313 closed

[2022-10-30 02:56] yuxiaoba opened #545 "Add Kubernetes yaml for demo"
# Feature Request

This repository only offers a helm deployment option, I think a Kubernetes yaml deployment like [online Boutique](https://github.com/GoogleCloudPlatform/microservices-demo/tree/main/kubernetes-manifests) is also necessary )

[2022-10-30 02:57] yuxiaoba commented on #545
If this is interesting, please assign this to me.

[2022-10-30 20:12] austinlparker commented on #542
I think it's fine, although there's currently an issue with Apple Silicon and the published images; you need to build on that platform, otherwise one of the services fails to load.

[2022-10-31 14:25] austinlparker commented on #458
Updates to this issue for posterity:

- I was able to fix the issues causing failed builds. These were mostly due to build contexts not being standard across every service.
- Another persistent issue was OOM kills of the build containers. After some investigation, these seemed to be related to the amount of available memory on a GHA Runner as well as the overhead of trying to parallelize certain b

[2022-11-02 13:44] austinlparker commented on #459
I've spent a bit of time investigating this and have run into a roadblock, so I'm going to write up my notes and hope someone else has an idea on a workaround.

Enabling `docker_stats` receiver is fairly straightforward, the defaults mostly work (adding `docker_stats:` to the receivers configuration in `./src/otelcollector/otelcol-config.yml` and then assigning it to the `metrics` pipeline), but t

[2022-11-02 14:03] austinlparker commented on #459
Ok, figured out a workaround -- if you run the collector container as root, then it _does_ work. Do we _want_ to do that, though? Obviously it's not a "best practice" but I'm not sure there's another way to really get around it.

[2022-11-02 16:20] palamvmw opened #550 "frontend container throwing error during start"
# Bug Report

Which version of the demo you are using? (please provide either a specific
[commit
hash](https://github.com/open-telemetry/opentelemetry-demo/commits/main)
or a specific
[0.9.6](https://github.com/open-telemetry/opentelemetry-demo/releases)).

## Symptom

Following the instructions [here](https://github.com/open-telemetry/opentelemetry-demo/blob/main/docs/docker_deployment.md) , I tr

[2022-11-02 19:12] austinlparker commented on #459
<img width="1817" alt="Screenshot 2022-11-02 at 3 11 50 PM" src="https://user-images.githubusercontent.com/4140740/199580455-895507c4-7352-4c3d-9936-29933fb1bf63.png">

Memory utilization with the cache leak turned on

[2022-11-02 20:00] austinlparker commented on #550
Are you on an Apple Silicon machine, or were you trying to build using `docker compose build`?

[2022-11-02 21:57] palamvmw commented on #550
Yes, I am on Apple M1 and build the images locally

[2022-11-03 00:36] puckpuck opened #555 "Add Grafana charts/dashboard for spanmetrics data"
Add charts to the existing demo-dashboard or a new Grafana dashboard that contain the metrics generated from the OpenTelemetry collector [spanmetrics processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/spanmetricsprocessor) that is configured.

We could use a single dashboard with a few charts and a Service selector, or a view that has repeating section

[2022-11-03 02:21] #555 closed

[2022-11-03 07:17] glongzh opened #556 "FeatureFlagService keep restarting"
# Bug Report

Which version of the demo you are using?

IMAGE_VERSION=v1.0.0

## Symptom

when deploy with docker-compose, featureflagservice keeps restarting status:
[code]
and the service log:
[code]

**What is the expected behavior?**

featureflagservice keeps runing

## Reproduce

docker compose up --no-build

## Additional Context

OS: SUSE Linux Enterprise Server 12 SP5
Kernel: 4.12.14
Docke

[2022-11-04 07:45] glongzh commented on #556
It took a long time to build the image and was unsuccessful due to network connectivity problems.
FYI, my machine's arch is X86.

[2022-11-04 21:12] puckpuck commented on #106
I have this file in my local setup.  After running all IDE compile errors go away and IntelliJ is happy.

._ide-gen-proto.sh
[code]

Looks like I still need to add a few more services to it, but it does the job.

[2022-11-05 14:39] julianocosta89 opened #558 "[Frontend] Cart view not summing cents"
# Bug Report

Which version of the demo you are using?
[v1.0.0](https://github.com/open-telemetry/opentelemetry-demo/releases/tag/v1.0.0)

## Symptom

When navigating to the cart view, the total is not taking into account the cents part of the value.

**What is the expected behavior?**

I expected to see the total value.

## Reproduce

Start the sample following the docker approach, add a product

[2022-11-07 16:15] austinlparker commented on #556
The error message makes me think it's a memory issue -- could you try increasing the amount of memory available for the feature flag service in the compose file and see if that resolves things?

[2022-11-07 16:56] julianocosta89 commented on #558
@xoscar would you be able to take a look at this?

[2022-11-07 16:57] austinlparker opened #559 "Enhance CODEOWNERS"
Couple of items to ease maintenance

- [ ] Add SIG Approvers to their language(s)
- [ ] Add authors of services to codeowners so they get pinged for PRs, etc.

[2022-11-08 06:34] julianocosta89 commented on #558
Shipping costs are also not being updated whenever a new product is added to the cart, it is required to refresh the page manually to get the shipping costs recalculated.

[2022-11-08 06:48] glongzh commented on #556
After increasing the memory limit from 160M to 500M, and restarting the featureflagservice container, the same problem still exists

[2022-11-08 07:10] fatsheep9146 commented on #556
what's the last log before restarting?

[2022-11-08 07:45] fatsheep9146 opened #562 "[frontend] some trace with unreasonable duration"
# Bug Report

when I check of trace duration for product/[productID] page, some trace has unreasonable duration , such as 213503972d 16h

![image](https://user-images.githubusercontent.com/11855957/200503684-74d85c2d-31fc-4c92-a954-f2c505b1d32c.png)

Which version of the demo you are using?
v1.0.0

## Symptom

A clear and concise description of what the bug is.

**What is the expected behavior?**

[2022-11-08 11:50] styblope commented on #556
This might be related to my earlier comment: https://github.com/open-telemetry/opentelemetry-demo/pull/460#issuecomment-1286034000

[2022-11-08 13:54] nemoshlag opened #565 "Add OpAMP to allow remote configuration of demo collector"
# Feature Request

 [OpAMP](https://github.com/open-telemetry/opamp-go) is an OTel network protocol for remote management. Adding it to the OTel demo will allow easy collector configuration and modifications using the OpAMP server. In addition, the project is still in Beta status - so having it integrated with the demo can expose needed changes.

## Additional Context

OpAMP [specifications](https

[2022-11-09 06:30] glongzh commented on #556
Oh, it's my fault. After increasing the memory limit, you need to run `docker-compose up -d` to recreate the featureflagservice and the depends_on services. Not just to restart the featureflagservice container.

[2022-11-10 06:44] yuxiaoba commented on #223
@cijothomas  hello, cijothomas! Recently , I try to using the `opentelemetry` logging API to print logs for  `cartservice`.

I first config `opentelemetry `  log in [program.cs](https://github.com/yuxiaoba/opentelemetry-demo/blob/main/src/cartservice/src/Program.cs#L67)

[code]

Then I init logs in [RedisCartStore.cs](https://github.com/yuxiaoba/opentelemetry-demo/blob/main/src/cartservice/src/car

[2022-11-10 15:08] #206 closed

[2022-11-11 03:37] #104 closed

[2022-11-11 19:58] cartersocha commented on #545
Hey @yuxiaoba this would be interesting. Open to exploring this. Just assigned to you

[2022-11-11 20:02] cartersocha commented on #542
This is covered in docker file and we link to the docker file in the quick start.

We segmented out the docker info into a separate file to reduce main readme length.

We’ll keep as is for now. Ideally once the apple silicon issue is solved we’ll have minimal onboarding issues

[2022-11-11 20:02] #542 closed

[2022-11-12 19:59] cartersocha commented on #556
@puckpuck we may want to increase our memory limits for the feature flag service.

I’m not sure if 500M is needed but seems reasonable to move it up then we can close this

[2022-11-12 20:01] cartersocha commented on #556
I can submit a pr tomorrow if we have a new number in mind besides 500. Or we can discuss briefly on Monday

[2022-11-12 20:03] cartersocha commented on #556
@glongzh would you mind checking lower memory allocations to gauge the needed level?

[2022-11-14 02:20] glongzh commented on #556
@cartersocha
I tried 200, still working. Maybe 200 is enough.
Here's the `docker stats` output in two cases:
[code]

[2022-11-14 04:05] cartersocha commented on #556
ty @glongzh !

[2022-11-14 16:20] #556 closed

[2022-11-14 16:46] cartersocha opened #574 "Switch currency service from grpc to http"
To improve build times we would like to refactor from using grpc in the currency service to http

[2022-11-14 16:47] cartersocha opened #575 "Switch shipping service from grpc to http"
To improve build times we would like to refactor from using grpc in the shipping service to http

[2022-11-14 16:47] cartersocha commented on #575
@GaryPWhite

[2022-11-14 16:47] GaryPWhite commented on #575
hi :)

[2022-11-14 16:48] GaryPWhite commented on #575
will also post timing when removing tonic/grpc

[2022-11-14 16:57] cartersocha opened #576 "design doc for demo logging story"
placeholder

[2022-11-14 16:59] cartersocha opened #577 "refactor out most grpc calls and switch to http"
Http is generally quicker to build and this would reflect real world practices more consistently

[2022-11-14 18:22] cartersocha opened #579 "Add Juliano as a maintainer"
I'd like to nominate @julianocosta89 to move from approver to maintainer.

Juliano has been involved in the project from the beginning and has been a big development asset. He selected and helped donate the original demo app, wrote the PHP service example, added docker compose support, and a [myriad of other feature enhancements](https://github.com/open-telemetry/opentelemetry-demo/commits?author=

[2022-11-14 19:10] GaryPWhite commented on #579
+1 if as not-a-maintainer we're interested, Juliano has always been kind and willing to help me out. He's also not been afraid to admit what he doesn't know and _take_ help as needed to build a good demo!

[2022-11-14 19:41] puckpuck commented on #579
+1 to this from me

[2022-11-15 02:25] austinlparker commented on #579
+1 sgtm

[2022-11-15 03:33] joshleecreates commented on #396
This is resolved with @austinlparker's PR https://github.com/open-telemetry/opentelemetry-demo/pull/536

I built v1.0.0 on amd64 and this error occurs when running the image under emulation with Docker Desktop on apple silicon
I applied the single line change (OTP v25->v23) then rebuilt on amd64 and the error does not occur on apple silicon.

[2022-11-15 04:07] #579 closed

[2022-11-15 06:54] mviitane commented on #579
Nice!

[2022-11-15 21:07] madhead opened #586 "Strange adservice behavior. Is it intentional?"
# Bug Report

Version: `v1.1.0` / `9a66c3a7e490dc0a30c738b92d931d04ce42f479` / `main` (just plain `git clone`)

## Symptom

It seems that the request for the ad is crafted incorrectly. It results in random ads being served.

After a quick looking at the docs and scenarios it's not clear whether it's intentional or not.

**What is the expected behavior?**

Appropriate adds are served for every requ

[2022-11-16 03:36] cartersocha opened #588 "Update front end for JavaScript metrics GA"
The front end should be enhanced with metric reporting now that the JavaScript SDK is stable.

[2022-11-16 03:37] cartersocha commented on #588
Payment service example implemented here: https://github.com/open-telemetry/opentelemetry-demo/pull/583

[2022-11-16 03:38] cartersocha commented on #588
@xoscar if you have some time in the next couple weeks this would be great to add. Nbd if not

[2022-11-16 03:43] cartersocha opened #589 "Add dotnet auto instrumentation"
Dotnet should have non instrumentation library based auto instrumentation examples.

https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation

[2022-11-16 03:44] cartersocha commented on #589
@rajkumar-rangaraj, @reyang thoughts on potentially including this?

[2022-11-16 04:09] reyang commented on #589
@open-telemetry/dotnet-instrumentation-maintainers

[2022-11-16 04:14] reyang commented on #589
My couple cents:
1. We should avoid using any undefined/misleading term in this demo project - across the docs, code and communication, e.g. "agent". https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md
2. We probably need to define "what's the default set of experiences/services/containers", to avoid this demo project becoming too big/complex/slow for

[2022-11-16 17:09] Kielek commented on #589
SIG Auto Instrumentation .NET meeting notes: if we are able to use .NET Framework 4.6.2+/NET 6/7 we should be fine to include it shortly. We expect 0.5.0 release which will be supporting all modern .NET version (including .NET 7).

[2022-11-16 17:44] pellared commented on #589
Please do not call it "agent".

The upcoming 0.5.0 release will contain many changes in the configuration settings to avoid the possibility of possible breaking changes in future. We will do the best to describe potential problems when upgrading to newer versions in the [GitHub Releases](https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/releases) and [CHANGELOG.md](https://git

[2022-11-17 23:48] breedx-splk commented on #586
Yeah, the adservice API is only designed to receive product categories, not IDs. I think the invoker should be passing product categories instead of ids.

The complexity of the client-side stack is a little beyond me, but [this line](https://github.com/open-telemetry/opentelemetry-demo/blob/9a66c3a7e490dc0a30c738b92d931d04ce42f479/src/frontend/gateways/rpc/Ad.gateway.ts#L9) is suspect, as is this

[2022-11-18 06:46] cartersocha commented on #458
What's the current state here @austinlparker ? I think the current build is just x86 right? Our performance is much better now

[2022-11-18 21:08] ty-elastic opened #593 "[shippingservice] ignores OTEL_RESOURCE_ATTRIBUTES"
# Bug Report

Unlike the other services, shippingservice doesn't add attributes explicitly iterated in the OTEL_RESOURCE_ATTRIBUTES environment variable to traces.

Which version of the demo you are using?
https://github.com/open-telemetry/opentelemetry-demo/releases/tag/v1.1.0

## Symptom

The Rust OTEL SDK doesn't appear to automatically load and apply OTEL_RESOURCE_ATTRIBUTES. Instead (or at le

[2022-11-19 02:21] ty-elastic opened #596 "[shippingservice] improve support for grpc"
# Feature Request

add proper grpc span attributes to ShippingService

**Is your feature request related to a problem?**

other services which are using auto-instrumentation for grpc properly set SpanKind, RpcSystem, and RpcGrpcStatusCode. ShippingService manually instruments grpc transactions, but doesn't set these span attributes, which can lead to loss of fidelity in some APM backends.

**Descr

[2022-11-20 04:37] madhead commented on #586
@breedx-splk, correct. If you agree that current behavior is a bug, please, check out the linked PR.

[2022-11-20 20:55] #396 closed

[2022-11-20 20:55] cartersocha commented on #396
thanks @joshleecreates

[2022-11-20 20:58] cartersocha commented on #279
Can we close this @puckpuck ?

[2022-11-20 20:59] cartersocha commented on #327
@julianocosta89 are the unchecked items still open?

[2022-11-20 21:00] cartersocha commented on #458
I think this has been solved in #536. Closing for now

[2022-11-20 21:01] cartersocha commented on #550
Apple silicon issues have hopefully been solved in #536. Please run docker system prune -a then run a fresh docker compose build. Closing for now pending confirmation.

[2022-11-20 21:01] #550 closed

[2022-11-20 21:02] cartersocha commented on #278
Is this an issue with the current version @lfranchini31, @Tiagodge

[2022-11-20 21:03] cartersocha commented on #459
@austinlparker Do we want to discuss this in a sig meeting or just factor it out of the requirements? It doesn't seem essential to me

[2022-11-20 21:05] austinlparker commented on #459
We can discuss it I guess. If we're going to create infra dashboards then I think we'll need it.

[2022-11-21 01:51] saurabhdes commented on #396
Yes, now on my Mac M1 Pro as well after running `docker compose up --no-build` i am able to see feature flag service running successfully.

<img width="858" alt="image" src="https://user-images.githubusercontent.com/47896520/202943253-8d911e99-8309-4af7-8fa8-ceae7d573882.png">

[2022-11-21 01:56] puckpuck commented on #279
#599 will close this

[2022-11-21 09:45] julianocosta89 commented on #327
yes, they are all still pending

[2022-11-21 14:10] lfranchini31 commented on #278
@cartersocha Yes, i think so :)

[2022-11-21 15:15] tommyziegler opened #601 "Docker build for 'frontend' currently not working because npm is outdated"
# Bug Report

The OpenTelemetry demo with Docker does not work because npm is outdated in the base image. I used the current build v1.1.0.

## Symptom

The OTel demo app won't start, and I can't access the frontend interface because the container keeps restarting due to an outdated npm dependency.

[code]

## Reproduce
1. Download the repo (`$git clone`)
2. Try to startup with Docker (`$docker com

[2022-11-21 15:56] tommyziegler commented on #601
After changing the alpine base image from 16 to 19 on my computer.
[code]

Should and could I create a pull request? What would the process for open telemetry look like?

[2022-11-21 16:19] #593 closed

[2022-11-21 16:23] #596 closed

[2022-11-21 16:25] austinlparker opened #602 "Update PR template to add reminder to update documentation"
n/t

[2022-11-21 16:26] austinlparker opened #603 "Update contributing guide with reminders about updating telemetry docs"
We need to remind people when they're making contributions that change telemetry they should update the relevant readmes and docs

[2022-11-21 16:27] #106 closed

[2022-11-21 16:59] austinlparker opened #604 "Synthetic request attribute should be set to false on browser-originated requests"
Currently we only add the `app.synthetic_request` attribute to requests that come into frontend thru the load generator. We should make non-synthetic traffic show the `false` value.

[2022-11-22 14:03] #279 closed

[2022-11-22 14:45] devrimdemiroz opened #606 "operator instrumentation inject support"
# Feature Request

Currently, auto-instrumentation is injected via [Docker file](https://github.com/open-telemetry/opentelemetry-demo/blob/main/src/adservice/Dockerfile).

While having it for Docker deployment is fine, for Kubernetes deployment, it is a preferred option to get it injected automatically via opentelemetry-operator.

**Describe the solution you'd like:**

Instead, agent(s) can be inj

[2022-11-23 08:13] nlamirault commented on #458
Are you sure @cartersocha  Demo Docker images seems only amd64 : https://hub.docker.com/r/otel/demo/tags

[2022-11-23 12:52] JaredTan95 commented on #458
next tag will release multi-arch images.

[2022-11-23 13:15] austinlparker commented on #458
Actually we had to remove multi-arch because it takes 4 hours to build. We're working on alternatives still to reduce build time and make this feasible.

[2022-11-24 02:07] JaredTan95 commented on #606
I think it should be solved by https://github.com/open-telemetry/opentelemetry-demo/pull/244

becauese the opentelemetry-operator will inject the `java` agent sidecar/initcontainer and override the `JAVA_TOOL_OPTIONS` value.

[code]

[2022-11-24 12:30] devrimdemiroz commented on #606
@JaredTan95 ,
 I put java as an example. Same applies for other languages so far supported via operator injection.

[2022-11-25 10:57] pellared commented on #589
[0.5.0](https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/releases/tag/v0.5.0) is released.

CC @carlosalberto

[2022-11-26 14:28] #601 closed

[2022-11-26 15:53] #586 closed

[2022-11-26 20:08] #603 closed

[2022-11-26 20:08] #602 closed

[2022-11-27 17:47] puckpuck commented on #606
All the existing services in the demo have manual instrumentation, which requires them to be compiled with the Otel SDKs/Agents for them to run.

There is the potential for this with the addition of new services where we don't do any manual instrumentation in them and have those new services auto-instrumented only using operator injection. In particular, I think the [Message queue](https://github.

[2022-11-27 18:51] cartersocha commented on #526
Duplicate of info in #327. Closing in favor of that issue. There is a lot of debt / enhancements building up on the front end. A good sig topic

[2022-11-27 18:51] #526 closed

[2022-11-27 18:55] cartersocha commented on #233
@fatsheep9146 all the need or updated services should have basic license info in one place now. I did a v1 review.

We could potentially add this now or decide we don’t need it?

[2022-11-30 20:06] devrimdemiroz commented on #606
@puckpuck

I still did not deep dive into particular services. However, [here](https://github.com/open-telemetry/opentelemetry-demo/tree/main/docs)  (except C++) each service is marked with both auto and manual instrumentation. If the page is correct, we will lose the manual instrumentation provided as demo but still have auto instrumentation in hand. Do I get it right?